<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>绑定支付宝小程序</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-card layui-col-md12">
				<div class="layui-card-header">
					绑定支付宝小程序
					{if input('param.isopen')==1}<i class="layui-icon layui-icon-close" style="font-size:18px;font-weight:bold;cursor:pointer" onclick="closeself()"></i>{/if}
				</div>
				<div class="layui-card-body" pad15>
					<div class="layui-form form-label-w8" lay-filter="" style="margin-top:20px">
						<div class="layui-form-item">
							<div style="padding-left:20px;font-weight:bold">一、填写小程序信息</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">小程序ID：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" name="info[appid]" value="{$info.appid}" class="layui-input">
							</div>
							<div class="layui-form-mid layui-word-aux">登录支付宝开放平台控制台(openhome.alipay.com/develop/manage) [小程序]中查找</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">应用私钥：</label>
							<div class="layui-input-inline" style="width:280px">
								<input type="text" name="info[appsecret]" value="{$info.appsecret}" class="layui-input">
								{if $info['appsecret']}<div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0; background: #fff;padding: .35rem .7rem;border: 1px solid rgba(0, 0, 0, .15);border-radius: .15rem;color: #636c72;" onclick="$(this).hide()">已隐藏内容，点击查看或编辑</div>{/if}
							</div>
							<div class="layui-form-mid layui-word-aux">请填写应用私钥去头去尾去回车，一行字符串，<a href="https://opendocs.alipay.com/open/291/105971#LDsXr" target="_blank">接入指引</a></div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">支付宝公钥：</label>
							<div class="layui-input-inline" style="width:280px">
								<input type="text" name="info[publickey]" value="{$info.publickey}" class="layui-input">
								{if $info['publickey']}<div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0; background: #fff;padding: .35rem .7rem;border: 1px solid rgba(0, 0, 0, .15);border-radius: .15rem;color: #636c72;" onclick="$(this).hide()">已隐藏内容，点击查看或编辑</div>{/if}
							</div>
							<div class="layui-form-mid layui-word-aux">请填写支付宝公钥，一行字符串</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">小程序名称：</label>
							<div class="layui-input-inline" style="width:280px">
								<input type="text" name="info[nickname]" value="{$info.nickname}" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">小程序头像：</label>
							<input type="hidden" name="info[headimg]" id="headimg" lay-verType="tips" class="layui-input" value="{$info.headimg}">
							<button style="float:left;" type="button" class="layui-btn layui-btn-primary" upload-input="headimg" upload-preview="headimgPreview" onclick="uploader(this)">上传图片</button>
							<div id="headimgPreview" class="picsList-class-padding">
								<div class="layui-imgbox" style="width:100px;"><div class="layui-imgbox-img"><img src="{$info.headimg}"/></div></div>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">小程序码：</label>
							<input type="hidden" name="info[qrcode]" id="qrcode" lay-verType="tips" class="layui-input" value="{$info.qrcode}">
							<button style="float:left;" type="button" class="layui-btn layui-btn-primary" upload-input="qrcode" upload-preview="qrcodePreview" onclick="uploader(this)">上传图片</button>
							<div id="qrcodePreview" class="picsList-class-padding">
								<div class="layui-imgbox" style="width:100px;"><div class="layui-imgbox-img"><img src="{$info.qrcode}"/></div></div>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">小程序支付状态：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[alipay]" title="开启" value="1" {if $info['alipay']==1}checked{/if}/>
								<input type="radio" name="info[alipay]" title="关闭" value="0" {if $info['alipay']==0}checked{/if}/>
							</div>
						</div>
						<div class="layui-form-item"><!--新的openid不兼容随行付，使用userid和openid的接口需根据此配置判断使用对应的字段-->
							<label class="layui-form-label">openid配置：</label>
							<div class="layui-input-inline" style="width: 260px">
								<input type="radio" name="info[openid_set]" title="uid标准" value="userid" {if $info['openid_set']=='userid'}checked{/if}/>
								<input type="radio" name="info[openid_set]" title="openid标准" value="openid" {if $info['openid_set']=='openid'}checked{/if}/>
							</div>
							<div class="layui-form-mid layui-word-aux">登录 <a href="https://openhome.alipay.com/develop/manage" target="_blank">开放平台控制台</a> > 进入对应应用详情页 > 开发设置 > openid配置管理 查看并选择对应的选项</div>
						</div>
						{if getcustom('sxpay_fenzhang')}
						<div class="layui-form-item">
							<label class="layui-form-label">随行付支付：</label>
							<div class="layui-input-inline" style="width:180px">
								<input type="radio" name="info[sxpay]" title="开启" value="1" {if $info['sxpay']==1}checked{/if} lay-filter="sxpay_st"/>
								<input type="radio" name="info[sxpay]" title="关闭" value="0" {if $info['sxpay']==0}checked{/if} lay-filter="sxpay_st"/>
							</div>
							<div class="layui-form-mid layui-word-aux">openid配置管理需要使用uid标准，<a href="https://opendocs.alipay.com/mini/0ai736?pathHash=e4af54b3" target="_blank">申诉回退到 userid方法</a></div>
						</div>
						<div id="sxpay_st" style="float:left;{if $info['sxpay']==0}display:none{/if}">
							<div class="layui-form-item">
								<label class="layui-form-label">商户编号：</label>
								<div class="layui-input-inline">
									<input type="text" name="info[sxpay_mno]" value="{$info['sxpay_mno']}" class="layui-input"/>
								</div>
								{if $incomeStatus['income'] || $incomeStatus['incomeLog']}
								<div class="layui-form-mid layui-word-aux"> <a href="javascript:void(0)" onclick="openmax('{:url('SxpayIncome/index')}&isopen=1')">点击申请入驻</a></div>
								{/if}
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">支付密钥：</label>
								<div class="layui-input-inline" style="width:280px">
									<input type="text" name="info[sxpay_mchkey]" value="{$info['sxpay_mchkey']}" class="layui-input"/>
									{if $info['sxpay_mchkey']}<div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0; background: #fff;padding: .35rem .7rem;border: 1px solid rgba(0, 0, 0, .15);border-radius: .15rem;color: #636c72;" onclick="$(this).hide()">已隐藏内容，点击查看或编辑</div>{/if}
								</div>
							</div>
						</div>
						{/if}
						{if getcustom('sxpay_h5') && !getcustom('sxpay_fenzhang')}
						<div class="layui-form-item">
							<label class="layui-form-label">随行付支付：</label>
							<div class="layui-input-inline" style="width:180px">
								<input type="radio" name="info[sxpay]" title="开启" value="1" {if $info['sxpay']==1}checked{/if} lay-filter="sxpay_st"/>
								<input type="radio" name="info[sxpay]" title="关闭" value="0" {if $info['sxpay']==0}checked{/if} lay-filter="sxpay_st"/>
							</div>
							<div class="layui-form-mid layui-word-aux">openid配置管理需要使用uid标准，<a href="https://opendocs.alipay.com/mini/0ai736?pathHash=e4af54b3" target="_blank">申诉回退到 userid方法</a></div>
						</div>
						<div id="sxpay_st" style="float:left;{if $info['sxpay']==0}display:none{/if}">
							<div class="layui-form-item">
								<label class="layui-form-label">商户编号：</label>
								<div class="layui-input-inline">
									<input type="text" name="info[sxpay_mno]" value="{$info['sxpay_mno']}" class="layui-input"/>
								</div>
								{if $incomeStatus['income'] || $incomeStatus['incomeLog']}
								<div class="layui-form-mid layui-word-aux"> <a href="javascript:void(0)" onclick="openmax('{:url('SxpayIncome/index')}&isopen=1')">点击申请入驻</a></div>
								{/if}
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">支付密钥：</label>
								<div class="layui-input-inline" style="width:280px">
									<input type="text" name="info[sxpay_mchkey]" value="{$info['sxpay_mchkey']}" class="layui-input"/>
									{if $info['sxpay_mchkey']}<div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0; background: #fff;padding: .35rem .7rem;border: 1px solid rgba(0, 0, 0, .15);border-radius: .15rem;color: #636c72;" onclick="$(this).hide()">已隐藏内容，点击查看或编辑</div>{/if}
								</div>
							</div>
						</div>
						{/if}

						{if getcustom('pay_huifu')}
						<div class="layui-form-item">
							<span style="color:#333" id="huifuset">汇付天下斗拱支付设置</span><hr/>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">斗拱支付：</label>
							<div class="layui-input-inline" style="width:180px">
								<input type="radio" name="info[huifu]" title="开启" value="1" {if $info['huifu']==1}checked{/if} lay-filter=""/>
								<input type="radio" name="info[huifu]" title="关闭" value="0" {if $info['huifu']==0}checked{/if} lay-filter=""/>
							</div>
							<div class="layui-form-mid layui-word-aux">openid配置管理需要使用uid标准，<a href="https://opendocs.alipay.com/mini/0ai736?pathHash=e4af54b3" target="_blank">申诉回退到 userid方法</a></div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">系统号sys_id：</label>
							<div class="layui-input-inline">
								<input type="text" name="info[huifu_sys_id]" value="{$info['huifu_sys_id']}" class="layui-input"/>
							</div>
							<div class="layui-form-mid layui-word-aux">渠道商/商户的huifu_id，请在<a href="https://dashboard.huifu.com/customers/login" target="_blank">商户后台</a>[开发设置]-[开发者信息]查找</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">产品号product_id：</label>
							<div class="layui-input-inline">
								<input type="text" name="info[huifu_product_id]" value="{$info['huifu_product_id']}" class="layui-input"/>
							</div>
							<div class="layui-form-mid layui-word-aux">请在<a href="https://dashboard.huifu.com/customers/login" target="_blank">商户后台</a>[开发设置]-[开发者信息]查找</div>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">商户公钥：</label>
							<div class="layui-input-inline" style="width:500px">
								<input type="text" name="info[huifu_merch_public_key]" value="{$info['huifu_merch_public_key']}" class="layui-input"/>
								{if $info['huifu_merch_public_key']}<div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0; background: #fff;padding: .35rem .7rem;border: 1px solid rgba(0, 0, 0, .15);border-radius: .15rem;color: #636c72;" onclick="$(this).hide()">已隐藏内容，点击查看或编辑</div>{/if}
							</div>
							<div class="layui-form-mid layui-word-aux">请在<a href="https://dashboard.huifu.com/customers/login" target="_blank">商户后台</a>[开发设置]-[密钥管理]查找</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">商户私钥：</label>
							<div class="layui-input-inline" style="width:500px">
								<input type="text" name="info[huifu_merch_private_key]" value="{$info['huifu_merch_private_key']}" class="layui-input"/>
								{if $info['huifu_merch_private_key']}<div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0; background: #fff;padding: .35rem .7rem;border: 1px solid rgba(0, 0, 0, .15);border-radius: .15rem;color: #636c72;" onclick="$(this).hide()">已隐藏内容，点击查看或编辑</div>{/if}
							</div>
							<div class="layui-form-mid layui-word-aux">请在<a href="https://dashboard.huifu.com/customers/login" target="_blank">商户后台</a>[开发设置]-[密钥管理]查找</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">汇付公钥：</label>
							<div class="layui-input-inline" style="width:500px">
								<input type="text" name="info[huifu_public_key]" value="{$info['huifu_public_key']}" class="layui-input"/>
								{if $info['huifu_public_key']}<div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0; background: #fff;padding: .35rem .7rem;border: 1px solid rgba(0, 0, 0, .15);border-radius: .15rem;color: #636c72;" onclick="$(this).hide()">已隐藏内容，点击查看或编辑</div>{/if}
							</div>
							<div class="layui-form-mid layui-word-aux">请在<a href="https://dashboard.huifu.com/customers/login" target="_blank">商户后台</a>[开发设置]-[密钥管理]查找</div>
						</div>
						{/if}

						<div class="layui-form-item">
							<div style="padding-left:20px;font-weight:bold">二、设置IP白名单及域名</div>
						</div>
						<div class="layui-form-item" style="margin-bottom:5px">
							<label class="layui-form-label">IP白名单：</label>
							<div class="layui-form-mid" style="width:200px;font-weight:bold">{:gethostbyname($_SERVER['HTTP_HOST'])}</div>
							<div class="layui-form-mid layui-word-aux">[开发]-[开发设置]-[开发信息]-[服务器IP白名单]中设置</div>
						</div>
						<div class="layui-form-item" style="margin-bottom:5px">
							<label class="layui-form-label">域名白名单：</label>
							<div class="layui-form-mid" style="width:200px;font-weight:bold">{:str_replace('https://','',PRE_URL2)}</div>
							<div class="layui-form-mid layui-word-aux">[开发]-[开发设置]-[服务器域名白名单]中设置</div>
						</div>
						{if getcustom('restaurant_take_food')}	
						<span style="color:#333" >模板消息设置</span><hr/>
						<div class="layui-form-item">
							<label class="layui-form-label">取餐通知</label>
							<div class="layui-input-inline" style="width:400px">
								<input type="text" name="info[tmpl_take_food]" value="{$info.tmpl_take_food}" class="layui-input">
							</div>
							<div class="layui-form-mid " style="margin-left:10px;">请阅读<a target="_blank"	href="https://opendocs.alipay.com/mini/03l9bb?pathHash=19d2e0aa&ref=api#%E8%AE%A2%E9%98%85%E6%B6%88%E6%81%AF">订阅消息接入指南</a>，配置关键字：门店名称，取餐码，订单编号，温馨提示，在详情中查找复制模板ID进行保存</div>
						</div>
						{/if}		
						<div class="layui-form-item">
							<label class="layui-form-label"></label>
							<div class="layui-input-inline" style="width:500px">
								<button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit_reg">保 存</button>
								<button class="layui-btn layui-btn-primary" onclick="downloadxcx()">下载代码包</button>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
	{include file="public/js"/}
	<script>
	layui.form.on('radio(sxpay_st)', function(data){
		if(data.value == '0'){
			$('#sxpay_st').hide();
		}else if(data.value == '1'){
			$('#sxpay_st').show();
		}
	})
	function downloadxcx(){
		layer.confirm('下载代码包用开发者工具进行上传代码，确定要下载吗?',function(index){
			layer.close(index);
			var html = '<div style="margin:40px auto;">';
			html+='<div class="layui-form" lay-filter="">';
			html+='	<div class="layui-form-item">';
			html+='		<label class="layui-form-label">顶部导航背景颜色</label>';
			html+='		<div class="layui-input-inline" style="width:100px">';
			html+='			<input type="text" name="navigationBarBackgroundColor" value="{:t('color1')}" autocomplete="off" class="layui-input">';
			html+='		</div>';
			html+='		<div class="_colorpicker"></div>';
			html+='	</div>';
			html+='	<div class="layui-form-item">';
			html+='		<label class="layui-form-label">顶部导航标题颜色</label>';
			html+='		<div class="layui-input-inline" style="width:170px">';
			html+='			<label><input type="radio" name="navigationBarTextStyle" value="black" title="黑色"/></label>';
			html+='			<label><input type="radio" name="navigationBarTextStyle" value="white" title="白色" checked/></label>';
			html+='		</div>';
			html+='	</div>';
			html+='	<div class="layui-form-item" style="margin-top:30px">';
			html+='		<label class="layui-form-label"></label>';
			html+='		<div class="layui-input-inline">';
			html+='			<button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit_downloadxcx">打包下载</button>';
			html+='		</div>';
			html+='	</div>';
			html+='</div>';
			html+='</div>'
			layer.open({type:1,area:['600px','460px'],content:html,title:'下载代码包',shadeClose:true});
			layui.form.render();
			initcolorpicker();
			layui.form.on('submit(submit_downloadxcx)', function(obj){
				var field = obj.field;
				var index = layer.load();
				$.post("{:url('downloadalipayxcx')}",field,function(data){
					layer.close(index);
					dialog(data.msg,data.status,data.url)
				});
			})
		})
	}


	function downloadop(){
		var index = layer.load();
		$.get('',{op:'downloadalipay'},function(data){
			layer.close(index);
			dialog(data.msg,data.status,data.url);
		})
	}
	layui.form.on('submit(submit_reg)', function(obj){
		var field = obj.field
		field.op = 'setappid';
		$.post('',field,function(data){
			dialog(data.msg,data.status,'{:url('alipay')}');
		})
	})
	layui.upload.render({
    elem: '#uploadjstxt', //绑定元素
    url: "{:url('uploadjstxt')}", //上传接口
		exts:'txt',
    done: function(res){
      //上传完毕回调
			console.log(res)
			dialog(res)
    },
    error: function(){
      //请求异常回调
    }
  });
  </script>
	{include file="public/copyright"/}
</body>
</html>