page{background-color:#fff}.navbox{margin-top:12rpx;height:auto;overflow:hidden;padding-bottom:20rpx}.nav_li{width:33%;text-align:center;box-sizing:border-box;padding:40rpx 0 20rpx}.nav_li image{width:100rpx;height:100rpx;margin-bottom:20rpx}.nav_li .title{padding:0 20rpx;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}