<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{$webinfo.webname}</title>
	<meta name="keywords" content="{$webinfo.webname},微信公众号,微信公众号商城,小程序商城,小程序分销系统,小程序在线制作,小程序,微信小程序,小程序制作,微信小程序制作,小程序工具,微信小程序工具,小程序开发,微信小程序开发,小程序平台,微信小程序平台" />
	<meta name="description" content="{$webinfo.webname}-微信公众号微信小程序商城及分销解决方案，致力于为广大商家快速搭建自己的微信公众号微信小程序，围绕会员、营销、效率，助力商家轻松经营店铺。" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Pragma" content="no-cache">
	<!-- HTTP 1.0 -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<!-- Prevent caching at the proxy server -->
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
	<!-- Mobile Metas -->  
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	{if $webinfo.ico}<link rel="shortcut icon" type="image/x-icon" href="{$webinfo.ico}" />{/if}
	<link rel="stylesheet" href="/static/index/css/index.css?v=1016">
	<script src="/static/index/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/index/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="toptab">
	{include file="index/public/menu"/}
</div>
<div style="width:100%;height:80px;line-height:80px;border:0;padding:0;margin:0"></div>
	
<div class="bannerbox">
	<div class="bannerbd">
		<div class="banner1">
			<!-- <div class="main">
				<div class="banner1_div1">公众号、小程序、会员卡 同时支持且数据互通</div>
				<div class="banner1_div2">同时支持微信公众号、小程序及会员卡，覆盖微信生态圈三大流量入口</div>
			</div> -->
		</div>
		<div class="banner2">
			<!-- <div class="main">
				<div class="banner1_div1">DIY界面设计</div>
				<div class="banner1_div2">可视化DIY设计小程序 —— 开启自定义功能新征程</div>
			</div> -->
		</div>
		<div class="banner3">
			<!-- <div class="main">
				<div class="banner1_div1">“海量营销策略供您选择”</div>
				<div class="banner1_div2">分销，秒杀，拼团，砍价，优惠券，积分等营销利器。为您提供数据，产品，<br>运营，流量全方位赋能。助力企业构建私域流量进入品牌营销新时代</div>
			</div> -->
		</div>
		<!-- <div class="banner4">
			<div class="main">
				<div class="banner1_div1">电脑端后台、手机端商家助手 双管理系统</div>
				<div class="banner1_div2">手机端随时随地接收消息通知、查看店铺动态、操作处理订单等</div>
			</div>
		</div> -->
	</div>
	<div class="bannerhd">
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="prev">
		<img src="/static/index/img/index_banner_zjt.png"/>
	</div>
	<div class="next">
		<img src="/static/index/img/index_banner_zjt.png"/> 
	</div>
</div>
<div class="bannertip">
	<div class="item">
		<img src="/static/index/img/ico-1.png">
		<div class="right">
			<div class="t1">丰富的功能组件</div>
			<div class="t2">适用多种场景需求</div>
		</div>
	</div>
	<div class="item">
		<img src="/static/index/img/ico-2.png">
		<div class="right">
			<div class="t1">灵活的分销系统</div>
			<div class="t2">多种模式随意设置</div>
		</div>
	</div>
	<div class="item">
		<img src="/static/index/img/ico-3.png">
		<div class="right">
			<div class="t1">界面自由DIY</div>
			<div class="t2">打造个性微信商城</div>
		</div>
	</div>
	<div class="item">
		<img src="/static/index/img/ico-4.png">
		<div class="right">
			<div class="t1">双平台管理系统</div>
			<div class="t2">电脑端+手机端</div>
		</div>
	</div>
</div>

<div class="contentbox">
	<div class="content">
		<div class="title">商城核心功能</div>
		<div class="con1">
			<div class="item">
				<div class="ti">
					<div class="t1"></div>
					<div class="t2">微信功能</div>
				</div>
				<div class="co">
					<div class="it">
						<img src="/static/index/img/ico-31.png" class="t1"/>
						<div class="t2">一键授权</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-32.png" class="t1"/>
						<div class="t2">公众号管理</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-33.png" class="t1"/>
						<div class="t2">小程序管理</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-34.png" class="t1"/>
						<div class="t2">微信会员卡</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-35.png" class="t1"/>
						<div class="t2">微信支付</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-36.png" class="t1"/>
						<div class="t2">服务商分账</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ti">
					<div class="t1"></div>
					<div class="t2">商城系统</div>
				</div>
				<div class="co">
					<div class="it">
						<img src="/static/index/img/ico-37.png" class="t1"/>
						<div class="t2">页面设计</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-38.png" class="t1"/>
						<div class="t2">会员分销</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-39.png" class="t1"/>
						<div class="t2">订单配送</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-40.png" class="t1"/>
						<div class="t2">积分兑换</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-41.png" class="t1"/>
						<div class="t2">商品秒杀</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ti">
					<div class="t1"></div>
					<div class="t2">营销工具</div>
				</div>
				<div class="co">
					<div class="it">
						<img src="/static/index/img/ico-42.png" class="t1"/>
						<div class="t2">多人拼团</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-43.png" class="t1"/>
						<div class="t2">砍价功能</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-44.png" class="t1"/>
						<div class="t2">充值赠送</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-45.png" class="t1"/>
						<div class="t2">优惠券</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-46.png" class="t1"/>
						<div class="t2">微信红包</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-47.png" class="t1"/>
						<div class="t2">抽奖活动</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ti">
					<div class="t1"></div>
					<div class="t2">扩展功能</div>
				</div>
				<div class="co">
					<div class="it">
						<img src="/static/index/img/ico-48.png" class="t1"/>
						<div class="t2">多商户支持</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-49.png" class="t1"/>
						<div class="t2">文章管理</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-50.png" class="t1"/>
						<div class="t2">积分签到</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-51.png" class="t1"/>
						<div class="t2">自定义表单</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-52.png" class="t1"/>
						<div class="t2">礼品卡</div>
					</div>
					<div class="it">
						<img src="/static/index/img/ico-53.png" class="t1"/>
						<div class="t2">视频直播</div>
					</div>
				</div>
			</div>
		</div>
		<div class="con2">
			<div class="item">
				<div class="ti">
					<div class="t1"></div>
					<div class="t2">其他热门功能</div>
				</div>
				<div class="co">
					<div class="it">买单收款</div>
					<div class="it">股东分红</div>
					<div class="it">会员升级</div>
					<div class="it">商品会员价</div>
					<div class="it">商品采集</div>
					<div class="it">订单录入</div>
					<div class="it">短信通知</div>
					<div class="it">小票打印</div>
					<div class="it">管理员通知</div>
					<div class="it">推广拉粉</div>
					<div class="it">客服系统</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="contentbox2">
	<div class="content">
		<div class="title">部分功能展示</div>
		<div class="desc">专业解决方案助力各行各业</div>
		<div class="con1">
			<div class="ti" id="box2items">
				<div class="item on">拖拽式排版</div>
				<div class="item">商城系统</div>
				<div class="item">会员管理</div>
				<div class="item">积分兑换</div>
				<div class="item">营销活动</div>
				<div class="item">扩展功能</div>
				<div class="item">多商户支持</div>
				<div class="item">手机助手</div>
			</div>
			<div class="co" id="box2itemcontent_0">
				<div class="f1">
					<div class="t1">拖拽式排版功能亮点</div>
					<div class="t2">首页、会员中心、底部导航、自定义页面、商品详情、<br>文章详情等均支持自定义组件排版</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/1.jpg')">公众号首页</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/2.jpg')">小程序首页</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/3.jpg')">自定义页面</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/4.jpg')">会员中心</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/5.png')">底部导航</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/6.jpg')">商品详情</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/7.jpg')">文章详情</div>
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/1.jpg"/>
				</div>
			</div>
			<div class="co" id="box2itemcontent_1" style="display:none">
				<div class="f1">
					<div class="t1">商城系统功能亮点</div>
					<div class="t2">商品秒杀、商品评价快递、自提、同城配送<br>支持三级以下分销模式</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/8.jpg')">一级分类</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/9.jpg')">二级分类</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/10.jpg')">三级分类</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/11.jpg')">商品列表</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/12.jpg')">商品搜索</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/13.jpg')">分类商品</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/14.jpg')">快速购买</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/15.jpg')">购物车</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/16.jpg')">下单支付</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/17.jpg')">订单列表</div>
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/8.jpg"/>
				</div>
			</div>
			<div class="co" id="box2itemcontent_2" style="display:none">
				<div class="f1">
					<div class="t1">会员管理功能亮点</div>
					<div class="t2">支持设置多个会员等级，每个会员等级都可以设置不同的<br>分销策略、升级策略、会员价等</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/18.jpg')">会员中心1</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/19.jpg')">会员中心2</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/20.jpg')">会员中心3</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/21.jpg')">会员升级</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/22.jpg')">会员分销</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/23.jpg')">分享海报</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/24.jpg')">微信会员卡</div>
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/18.jpg"/>
				</div>
			</div>
			
			<div class="co" id="box2itemcontent_3" style="display:none">
				<div class="f1">
					<div class="t1">积分兑换功能亮点</div>
					<div class="t2">支持积分及积分+金额模式的积分兑换<br>签到、消费等均可设置赠送积分</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/25.jpg')">兑换中心</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/26.jpg')">兑换详情</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/27.jpg')">兑换确认</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/28.jpg')">兑换列表</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/30.jpg')">积分签到</div>
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/25.jpg"/>
				</div>
			</div>
			
			<div class="co" id="box2itemcontent_4" style="display:none">
				<div class="f1">
					<div class="t1">营销活动功能亮点</div>
					<div class="t2">优惠券、充值赠送、拼团、秒杀、砍价、微信红包、抽奖活动等<br>众多营销策略供您选用</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/31.jpg')">优惠券</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/33.jpg')">充值赠送</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/34.jpg')">拼团活动</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/35.jpg')">秒杀活动</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/36.jpg')">砍价活动</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/37.jpg')">微信红包</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/38.jpg')">大转盘</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/39.jpg')">刮刮卡</div>
						<!-- <div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/40.jpg')">砸金蛋</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/41.jpg')">摇摇乐</div> -->
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/31.jpg"/>
				</div>
			</div>
			<div class="co" id="box2itemcontent_5" style="display:none">
				<div class="f1">
					<div class="t1">扩展功能亮点</div>
					<div class="t2">文章管理、积分签到、自定义表单、推广拉粉、<br>礼品卡兑换、视频直播等功能</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/42.png')">文章管理</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/43.jpg')">积分签到</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/44.jpg')">自定义表单</div>
						<div class="btn1" onclick="box2changebtn(this,'')">推广拉粉</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/46.jpg')">礼品卡兑换</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/47.jpg')">视频直播</div>
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/42.png"/>
				</div>
			</div>
			<div class="co" id="box2itemcontent_6" style="display:none">
				<div class="f1">
					<div class="t1">多商户支持功能亮点</div>
					<div class="t2">商家可申请入驻、商家有独立的PC端后台及手机端管理助手，<br>商家首页可自定义</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/49.jpg')">申请入驻</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/50.jpg')">商家首页</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/51.jpg')">商家助手</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/52.png')">商家后台</div>
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/49.jpg"/>
				</div>
			</div>
			<div class="co" id="box2itemcontent_7" style="display:none">
				<div class="f1">
					<div class="t1">手机助手功能亮点</div>
					<div class="t2">管理员可在手机端查看管理订单等信息，<br>可接收订单通知、用户咨询通知等</div>
					<div class="t3">
						<div class="btn1 on" onclick="box2changebtn(this,'/static/index/img/pic/53.jpg')">首页</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/54.jpg')">财务</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/56.jpg')">会员</div>
						<div class="btn1" onclick="box2changebtn(this,'/static/index/img/pic/55.jpg')">咨询</div>
					</div>
					<!-- <div class="t4">
						<img src="/static/index/img/qr.jpg"/>
						<span>微信扫码体验</span>
					</div> -->
				</div>
				<div class="f2">
					<img src="/static/index/img/pic/53.jpg"/>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(function(){
	$('#box2items > .item').click(function(){
		var index = $(this).index();
		$(this).addClass('on');
		$(this).siblings().removeClass('on')
		$('div[id^=box2itemcontent_]').hide();
		$('div[id^=box2itemcontent_'+index+']').show();
	})
})
function box2changebtn(obj,pic){
	$(obj).addClass('on')
	$(obj).siblings().removeClass('on')
	$(obj).parent().parent().parent().find('.f2>img').attr('src',pic)
}
</script>

<div class="contentbox3">
	<div class="content">
		<div class="title">{$webinfo.webname} 小程序+公众号电商解决方案</div>
		<div class="desc">提供完整的解决方案，助力精准高效获取用户</div>
		<div class="con1">
			<div class="left" style="padding-top:30px">
				<div class="item">
					<img src="/static/index/img/ico-23.png">
					<div class="f2">
						<div class="t1">强大的移动商城</div>
						<div class="t2">助力搭建小程序+公众号移动商城 </div>
					</div>
				</div>
				<div class="item">
					<img src="/static/index/img/ico-24.png">
					<div class="f2">
						<div class="t1">众多促销玩法</div>
						<div class="t2">直播、拼团、砍价、秒杀、优惠券有效促进转化 </div>
					</div>
				</div>
				<div class="item">
					<img src="/static/index/img/ico-25.png">
					<div class="f2">
						<div class="t1">完善客户SCRM管理</div>
						<div class="t2">数字化会员管理体系，让您的客户二次复购变得简单  </div>
					</div>
				</div>
				<div class="item">
					<img src="/static/index/img/ico-26.png">
					<div class="f2">
						<div class="t1">裂变分销拓展销售渠道</div>
						<div class="t2">让您的顾客带来更多顾客，帮您实现销量裂变式增长  </div>
					</div>
				</div>
				<div class="item2">
					<div class="btn1" onclick="location.href='{:url('lianxi')}'">免费咨询</div>
					<div class="btn2" onclick="location.href='{:url('funshow')}'">查看详情</div>
				</div>
			</div>
			<div class="right">
				<img src="/static/index/img/img3.png" style="width:500px;height:384px;margin-top:80px">
			</div>
		</div>
	</div>
</div>

<div class="contentbox4">
	<div class="content">
		<div class="title">助力商家轻松搭建</div>
		<div class="desc">从经营流量到经营用户，尽享生态红利，轻松月入百万</div>
		<div class="con1">
			<div class="right">
				<img src="/static/index/img/pic/60.png" style="height:404px">
			</div>
			<div class="left">
				<div class="item">
					<img src="/static/index/img/ico-27.png">
					<div class="f2">
						<div class="t1">强大的移动商城</div>
						<div class="t2">助力搭建小程序+公众号移动商城 </div>
					</div>
				</div>
				<div class="item">
					<img src="/static/index/img/ico-28.png">
					<div class="f2">
						<div class="t1">可视化自定义搭建</div>
						<div class="t2">可视化搭建，自由拖拽即可搭建个性化商城  </div>
					</div>
				</div>
				<div class="item">
					<img src="/static/index/img/ico-29.png">
					<div class="f2">
						<div class="t1">众多营销策略</div>
						<div class="t2">分销、拼团、秒杀、砍价、会员价、优惠券、积分等</div>
					</div>
				</div>
				<div class="item">
					<img src="/static/index/img/ico-30.png">
					<div class="f2">
						<div class="t1">强大数据分析</div>
						<div class="t2">强大的多维度数据分析，助力企业精准营销   </div>
					</div>
				</div>
				<div class="item2">
					<div class="btn1" onclick="location.href='{:url('lianxi')}'">免费咨询</div>
					<div class="btn2" onclick="location.href='{:url('funshow')}'">查看详情</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bottomtip">
	<div class="f1">{$webinfo.webname}&nbsp;&nbsp;&nbsp;易用可靠的全能商城</div>
	<div class="btn1" onclick="location.href='{:url('lianxi')}'">立即咨询</div>
</div>

<div class="bottombox">
	<div class="f1">
		<a href="/">首页</a>
		<a href="{:url('funshow')}">功能介绍</a>
		<a href="{:url('lianxi')}">联系我们</a>
		<a href="{:url('help')}">帮助中心</a>
		
	</div>
	<div class="f2">
		{$webinfo.copyright}&nbsp;&nbsp;&nbsp;<a href="http://beian.miit.gov.cn/" target="_blank" style="color:#6B798E">{$webinfo.beian}</a>
	</div>
	{if $webinfo['copyright2']}
	<div class="f2">
		<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={$webinfo.beian2}" target="_blank" style="color:#6B798E">{$webinfo.copyright2}</a>
	</div>
	{/if}
</div>


<script>
$(document).ready(function(){
	/*
	var width = $(window).width();
	$('.bannerbox').css('height',width*0.27);
	$('.bannerbd').css('height',width*0.27);
	$('.bannerbd .banner1').css('height',width*0.27);
	$('.bannerbd .banner2').css('height',width*0.27);
	$('.bannerbd .banner3').css('height',width*0.27);
	*/
	$('.bannerbox').slide({titCell:'.bannerhd li',mainCell:'.bannerbd',effect:'left',autoPlay:true});
	if(istargettouches = true){
		let _start=0,_end=0,slider=$('.bannerbox');
		slider.on('touchstart',function(e){_start=e.originalEvent.targetTouches[0].pageX;});
		slider.on('touchmove',function(e){_end=e.originalEvent.targetTouches[0].pageX;});
		slider.on('touchend touchcancel',function(e){
			if((_start-_end)<-50){
				slider.find('.prev').click();_end=0;
			}else if((_start-_end)>50){
				slider.find('.next').click();_end=0;
			}
		});
	}
	if(ismousedown = true){
		let _start=0,_end=0,slider=$('.bannerbox');
		slider.on('mousedown',function(e){if(e.button==0){_start=e.clientX-slider.offset().left;}});
		slider.on('mouseup',function(e){
			if(e.button==0){
				_end=e.clientX-slider.offset().left;
			}
			if((_start-_end)<-50){
				slider.find('.prev').click();_end=0;
			}else if((_start-_end)>50){
				slider.find('.next').click();_end=0;
			}
			return false;
		});
	}
})
</script>
</body>
</html>