<link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css?v=20200519" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/modules/formSelects-v4.css?v=20200516" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css?v=202406" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/font-awesome.min.css?v=20200516" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/webuploader/webuploader.css?v={:time()}" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/designer.css?v=202410" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/fonts/iconfont.css?v=20201218" media="all">