.wrap{width:100%;height:100%;padding-top:20rpx}.title{width:94%;height:316rpx;margin:auto}.guizeBox{width:100%;margin:0;margin-bottom:20rpx}.guizeBox .gztitle{width:100%;text-align:center;font-size:32rpx;color:#888;font-weight:700;height:100rpx;line-height:100rpx}.guize_txt{box-sizing:border-box;padding:0 30rpx;line-height:42rpx;color:#666}.form{width:94%;margin:20rpx 3%;border-radius:5px;padding:20rpx 20rpx;padding:0 3%;background:#fff}.form-item{display:flex;align-items:center;width:100%;border-bottom:1px #ededed solid;height:98rpx;line-height:98rpx}.form-item:last-child{border:0}.form-item .label{color:#000;width:200rpx}.form-item .input{flex:1;color:#000}.set-btn{width:90%;margin:60rpx 5%;height:96rpx;line-height:96rpx;border-radius:48rpx;color:#fff;font-weight:700}