<!DOCTYPE html><!--custom_file(shoporder_ranking)-->
<html>
<head>
  <meta charset="utf-8">
  <title>排行榜</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header"><i class="fa fa-list"></i> 排行榜记录
            {if input('param.isopen')==1}<i class="layui-icon layui-icon-close" style="font-size:18px;font-weight:bold;cursor:pointer" onclick="closeself()"></i>{/if}</div>
          <div class="layui-card-body" pad15>
            <div class="layui-col-md6" style="padding-bottom:10px">
              <button class="layui-btn layui-btn-primary layuiadmin-btn-list" data-form-export="{:url('excel')}">导出EXCEL</button>
            </div>
            <div class="layui-form layui-col-md6 layui-form-search">
              <div class="layui-inline">
                <label class="layui-form-label">发放奖金状态</label>
                <div class="layui-input-inline">
                  <select name="sendstatus">
                    <option value="">全部</option>
                    <option value="0">关闭</option>
                    <option value="1">开启</option>
                  </select>
                </div>
              </div>
              <div class="layui-inline">
                <label class="layui-form-label"">月份时间</label>
                <div class="layui-input-inline" style="width:180px">
                  <input type="text" name="month" id="month" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
                  <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
              </div>
            </div>
            <div class="layui-col-md12">
              <table id="tabledata" lay-filter="tabledata"></table>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="changeModel" style="width:500px;display:none;margin-top:30px">
    <div class="layui-form" lay-filter="">
      <input type="hidden" name="changeid" id="changeid"/>
      <div class="layui-form-item">
        <label class="layui-form-label">充值金额</label>
        <div class="layui-input-inline">
          <input type="text" name="changemoney" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">输入负值表示扣除金额</div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formChange">确定充值</button>
        </div>
      </div>
    </div>
  </div>
  {include file="public/js"/}
  <script>
  layui.laydate.render({ 
    elem: '#month',
    trigger: 'click',
    type:'month',
    range: '~' //或 range: '~' 来自定义分割字符
  });
  var table = layui.table;
  var datawhere = {};
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      //{type:"checkbox"},
      {field: 'id', title: 'ID',sort:true,width:80},
      {field: 'month', title: '月份时间',sort:true,templet:function(d){ return date('Y-m',d.month)}},
      {field: 'poolmoney', title: '分红池总金额',templet:function(d){
        var html = '';
        html += '分红池总金额:'+d.poolmoney+'元<br>';
        if(d.changemoney>=0){
          html += '充值变动金额:+'+d.changemoney+'元<br>';
        }else{
          html += '充值变动金额:'+d.changemoney+'元<br>';
        }
        html += '实际分红池总金额:'+d.totalmoney+'元<br>';
        return html
      }},
      {field: 'sendstatus', title: '发放奖金状态',templet:function(d){
        var html = '';
        if(d.sendstatus == 1){
          html += '<span style="color:green">开启<br>';
        }else{
          html += '关闭';
        }
        return html
      }},
      {field: 'operation', title: '操作',templet: function (d) {
        var html = '';
        html += '<button class="table-btn" onClick="openmax(\'{:url(\'edit\')}/id/' + d.id + '\')">详情</button>';
        if(d.canchange){
          html += '<button class="table-btn" onclick="change('+d.id+')">充值</button>';
        }
        return html;
      }}
    ]]
  });
  //排序
  table.on('sort(tabledata)', function(obj){
    datawhere.field = obj.field;
    datawhere.order = obj.type;
    tableIns.reload({
      initSort: obj,
      where: datawhere
    });
  });
  //检索
  layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
    var field = obj.field
    var olddatawhere = datawhere
    datawhere = field
    datawhere.field = olddatawhere.field
    datawhere.order = olddatawhere.order
    tableIns.reload({
      where: datawhere,
      page: {curr: 1}
    });
  })
  var changelayer
  function change(id){
    $('#changeid').val(id);
    changelayer = layer.open({type:1,area: ['500px', '280px'],title:'充值',content:$('#changeModel'),shadeClose:true})
  }
  //充值提交
  layui.form.on('submit(formChange)', function(obj){
    var index= layer.load();
    $.post("{:url('changemoney')}",obj.field,function(data){
      layer.close(index);
      dialog(data.msg,data.status,data.url);
      if(data.status==1){
        tableIns.reload({
          where: datawhere
        });
      }
      layer.close(changelayer);
    })
  });
  </script>
  {include file="public/copyright"/}
</body>
</html>