<!DOCTYPE html><!--custom_file(shoporder_ranking)-->
<html>
<head>
  <meta charset="utf-8">
  <title>消费排行榜</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-card layui-col-md12">
        <div class="layui-card-header">
          <i class="fa fa-cog"></i> 消费排行榜设置
        </div>
        <div class="layui-card-body" pad15>
          <blockquote class="layui-elem-quote" style="color:#333">
            消费金额统计的是当月已完成订单，商城商品可单独设置
          </blockquote>
          <div class="layui-form form-label-w6" lay-filter="">
            <div class="layui-form-item">
              <label class="layui-form-label">活动名称：</label>
              <div class="layui-input-inline" style="width: 140px;">
                <input type="text" name="info[name]" class="layui-input" value="{$info.name}">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">头部图片：</label>
              <input type="hidden" name="info[pic]" id="pic" class="layui-input" value="{$info['pic']}">
              <button style="float:left;" type="button" class="layui-btn layui-btn-primary" upload-input="pic" upload-preview="picPreview" onclick="uploader(this)">上传图片</button>
              <div class="layui-form-mid layui-word-aux" style="margin-left:10px;">建议尺寸：750×240像素</div>
              <div id="picPreview" style="float:left;padding-top:10px;margin-left:130px;clear: both;">
                <div class="layui-imgbox" style="width:130px;"><div class="layui-imgbox-img"><img src="{$info['pic']}"/></div></div>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">总分红池比例：</label>
              <div class="layui-input-inline" style="width: 140px;">
                <input type="text" name="info[pool]" class="layui-input" value="{$info.pool}">
              </div>
              <div class="layui-form-mid" style="margin-right:20px">% </div>
              <div class="layui-form-mid layui-word-aux">当月已完成订单消费金额的X%，商品中可独立设置自己的比例和金额</div>
            </div>
            <div id="giveset_div">
              {if $givedata}
              {php}$len = count($givedata)-1;{/php}
                {foreach $givedata as $k=>$give}
                  <div>
                    <div class="layui-form-item">
                      {if $k==0}
                        <label class="layui-form-label">子分红池：</label>
                      {else}
                        <label class="layui-form-label"></label>
                      {/if}
                      <div class="layui-form-mid">名称</div>
                      <div class="layui-input-inline" style="width:100px"><input type="text" name="name[{$k}]" value="{$give.name}" class="layui-input"></div>
                      <div class="layui-form-mid">，分红池比例</div>
                      <div class="layui-input-inline" style="width:70px"><input type="text" name="ratio[{$k}]" value="{$give.ratio}" class="layui-input"></div>
                      <div class="layui-form-mid"  style="margin-right:20px">%，达标金额</div>
                      <div class="layui-input-inline" style="width:70px"><input type="text" name="money[{$k}]" value="{$give.money}" class="layui-input"></div>
                      <div class="layui-form-mid"  style="margin-right:20px">元，平分人数</div>
                      <div class="layui-input-inline" style="width:70px"><input type="text" name="num[{$k}]"   value="{$give.num}" class="layui-input"></div>
                      <div class="layui-form-mid"  style="margin-right:20px">人，预估奖励</div>
                      <div class="layui-input-inline" style="width:70px">
                        <select name="display[]">
                            <option {if $give.display == 0}selected{/if} value="0">不显示</option>
                            <option {if $give.display == 1}selected{/if} value="1">显示</option>
                        </select>
                      </div>
                      <button type="button" class="layui-btn layui-btn-primary add-moreave" data-key='{$k}' onclick="addmoreave(this)">添加多段平分</button>
                      {if $k==0}
                        <button type="button" class="layui-btn layui-btn-primary add-data" data-key='{$len}' onclick="adddata()">新增</button>
                      {else}
                        <button type="button" class="layui-btn layui-btn-primary" onclick="deldata(this)">删除</button>
                      {/if}
                    </div>
                    <div class="moreave">
                      {if $give['moreave']}
                        {foreach $give['moreave'] as $k2=>$v2}
                        <div class="layui-form-item ">
                          <label class="layui-form-label"></label>
                          <div class="layui-form-mid">第</div>
                          <div class="layui-input-inline" style="width:100px"><input type="text" name="moreave[{$k}][min][]" value="{$v2.min}" class="layui-input"></div>
                          <div class="layui-form-mid">名~第</div>
                          <div class="layui-input-inline" style="width:70px"><input type="text" name="moreave[{$k}][max][]" value="{$v2.max}" class="layui-input"></div>
                          <div class="layui-form-mid"  style="margin-right:20px">名，平分</div>
                          <div class="layui-input-inline" style="width:70px"><input type="text" name="moreave[{$k}][ratio][]" value="{$v2.ratio}" class="layui-input"></div>
                          <div class="layui-form-mid"  style="margin-right:20px">%</div>
                          <button type="button" class="layui-btn layui-btn-primary" onclick="delmoreave(this)">删除多段平分</button>
                        </div>
                        {/foreach}
                      {/if}
                    </div>
                    <div class="layui-input-block" style="margin-bottom: 10px;border-bottom: 1px solid #f1f1f1;min-height: 1px !important;"></div>
                  </div>
                {/foreach}
              {else}
                <div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">子分红池：</label>
                    <div class="layui-form-mid">名称</div>
                    <div class="layui-input-inline" style="width:100px"><input type="text" name="name[0]" value="" class="layui-input"></div>
                    <div class="layui-form-mid">，分红池比例</div>
                    <div class="layui-input-inline" style="width:70px"><input type="text" name="ratio[0]" value="0" class="layui-input"></div>
                    <div class="layui-form-mid"  style="margin-right:20px">%，达标金额</div>
                    <div class="layui-input-inline" style="width:70px"><input type="text" name="money[0]" value="0" class="layui-input"></div>
                    <div class="layui-form-mid"  style="margin-right:20px">元，平分人数</div>
                    <div class="layui-input-inline" style="width:70px"><input type="text" name="num[0]"   value="0" class="layui-input"></div>
                    <div class="layui-form-mid"  style="margin-right:20px">人，预估奖励</div>
                    <div class="layui-input-inline" style="width:70px">
                      <select name="display[]">
                          <option value="0">不显示</option>
                          <option value="1">显示</option>
                      </select>
                    </div>
                    <button type="button" class="layui-btn layui-btn-primary add-moreave" data-key='0' onclick="addmoreave(this)">添加多段平分</button>
                    <button type="button" class="layui-btn layui-btn-primary add-data" data-key='0' onclick="adddata()">新增</button>
                  </div>
                  <div class="moreave"></div>
                  <div class="layui-input-block" style="margin-bottom: 10px;border-bottom: 1px solid #f1f1f1;min-height: 1px !important;"></div>
                </div>
              {/if}
            </div>
            <div class="layui-form-item" style="margin-top:0">
                <label class="layui-form-label"></label>
                <div class="layui-form-mid layui-word-aux">
                  注意：<br>
                  1、子分红池必须填写一个，子分红池比例为总分红池的X%;<br>
                  2、开启多段平分后，平分人数起展示和限制人数作用，分红则按多段设置平分，正确示例：第1~第1名,第2~第10名,第11~第20名;<br>
                  3、不开启多段平分则按平分人数直接平分</div>
              </div>
            <script>
            function adddata(){
              var key = $('.add-data').attr('data-key');
              var newkey = parseInt(key)+1;
              $('.add-data').attr('data-key',newkey);
              var html = '<div>';
              html+='<div class="layui-form-item">';
              html+=' <label class="layui-form-label"></label>';
              html+=' <div class="layui-form-mid">名称</div>';
                  html+=' <div class="layui-input-inline" style="width:100px"><input type="text" name="name['+newkey+']" value="" class="layui-input"></div>';
                  html+=' <div class="layui-form-mid">，分红池比例</div>';
                  html+=' <div class="layui-input-inline" style="width:70px"><input type="text" name="ratio['+newkey+']" value="0" class="layui-input"></div>';
                  html+=' <div class="layui-form-mid"  style="margin-right:20px">%，达标金额</div>';
                  html+=' <div class="layui-input-inline" style="width:70px"><input type="text" name="money['+newkey+']" value="0" class="layui-input"></div>';
                  html+=' <div class="layui-form-mid"  style="margin-right:20px">元，平分人数</div>';
                  html+=' <div class="layui-input-inline" style="width:70px"><input type="text" name="num['+newkey+']"   value="0" class="layui-input"></div>';
                  html+=' <div class="layui-form-mid"  style="margin-right:20px">人，预估奖励</div>';
                  html+=' <div class="layui-input-inline" style="width:70px">';
                    html+=' <select name="display[]">';
                        html+=' <option value="0">不显示</option>';
                        html+=' <option value="1">显示</option>';
                    html+=' </select>';
                 html+='  </div>';
                 html+='<button type="button" class="layui-btn layui-btn-primary add-moreave" data-key="'+newkey+'" onclick="addmoreave(this)">添加多段平分</button>';
              html+='<button type="button" class="layui-btn layui-btn-primary" onclick="deldata(this)">删除</button>';
              html+='</div>';
              html+='<div class="moreave"></div>';
              html+='<div class="layui-input-block" style="margin-bottom: 10px;border-bottom: 1px solid #f1f1f1;min-height: 1px !important;"></div>';
              html+='</div>';
              $('#giveset_div').append(html);
              layui.form.render();
            }
            function deldata(obj){
              $(obj).parent().parent().remove();
            }
            function addmoreave(obj){
              var key = $(obj).attr('data-key');
              var html = '';
              html+='<div class="layui-form-item ">';
                html+='<label class="layui-form-label"></label>';
                html+='<div class="layui-form-mid">第</div>';
                html+='<div class="layui-input-inline" style="width:100px"><input type="text" name="moreave['+key+'][min][]" value="0" class="layui-input"></div>';
                html+='<div class="layui-form-mid">名~第</div>';
                html+='<div class="layui-input-inline" style="width:70px"><input type="text" name="moreave['+key+'][max][]" value="0" class="layui-input"></div>';
                html+='<div class="layui-form-mid"  style="margin-right:20px">名，平分</div>';
                html+='<div class="layui-input-inline" style="width:70px"><input type="text" name="moreave['+key+'][ratio][]"   value="0" class="layui-input"></div>';
                html+='<div class="layui-form-mid"  style="margin-right:20px">%</div>';
                html+='<button type="button" class="layui-btn layui-btn-primary" onclick="deldata(this)">删除多段平分</button>';
              html+='</div>';
              $(obj).parent().next().append(html);
              layui.form.render();
            }
            function delmoreave(obj){
              $(obj).parent().remove();
            }
            </script>
            <div class="layui-form-item">
              <label class="layui-form-label">显示总奖金池：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[showpool]" value="1" title="开启" {if !$info['id'] || $info['showpool']==1}checked{/if}>
                <input type="radio" name="info[showpool]" value="0" title="关闭" {if $info['showpool']==0}checked{/if}>
              </div>
              <div class="layui-form-mid layui-word-aux">关闭后头部总奖金池模块将不展示</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">显示子奖金池：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[showchildpool]" value="1" title="开启" {if !$info['id'] || $info['showchildpool']==1}checked{/if}>
                <input type="radio" name="info[showchildpool]" value="0" title="关闭" {if $info['showchildpool']==0}checked{/if}>
              </div>
              <div class="layui-form-mid layui-word-aux">关闭后子金池将不展示</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">显示自己排名：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[showselfranking]" value="1" title="开启" {if $info['id'] && $info['showselfranking']==1}checked{/if}>
                <input type="radio" name="info[showselfranking]" value="0" title="关闭" {if !$info['id'] || $info['showselfranking']==0}checked{/if}>
              </div>
              <div class="layui-form-mid layui-word-aux">开启后将在左上角显示自己在列表中的位次，位次不在列表中则不显示</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">显示上一期：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[showlast]" value="1" title="开启" {if $info['id'] && $info['showlast']==1}checked{/if}>
                <input type="radio" name="info[showlast]" value="0" title="关闭" {if !$info['id'] || $info['showlast']==0}checked{/if}>
              </div>
              <div class="layui-form-mid layui-word-aux">开启后将在右上角显示上一期字，点击跳转上一期记录表</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">子奖金池名称前加月份：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[childprefix_addmonth]" value="1" title="开启" {if $info['id'] && $info['childprefix_addmonth']==1}checked{/if}>
                <input type="radio" name="info[childprefix_addmonth]" value="0" title="关闭" {if !$info['id'] || $info['childprefix_addmonth']==0}checked{/if}>
              </div>
              <div class="layui-form-mid layui-word-aux">开启后子奖金池名称前自动加上月份名称，如2月XXXX</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">昵称中间隐藏：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[nickname_center_hidden]" value="1" title="开启" {if $info['id'] && $info['nickname_center_hidden']==1}checked{/if}>
                <input type="radio" name="info[nickname_center_hidden]" value="0" title="关闭" {if !$info['id'] || $info['nickname_center_hidden']==0}checked{/if}>
              </div>
              <div class="layui-form-mid layui-word-aux">开启后，昵称文字大于1个字的将会以三个*隐藏中间部分文字</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">平台参与订单：</label>
              <div class="layui-input-inline" style="width:600px">
                <input type="checkbox" name="info[join_ordertype][]" value="shop" title="商城订单" {if in_array('shop',$info['join_ordertype'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype][]" value="collage" title="多人拼团" {if in_array('collage',$info['join_ordertype'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype][]" value="kanjia" title="砍价" {if in_array('kanjia',$info['join_ordertype'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype][]" value="seckill" title="秒杀" {if in_array('seckill',$info['join_ordertype'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype][]" value="tuangou" title="团购" {if in_array('tuangou',$info['join_ordertype'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype][]" value="maidan" title="买单" {if in_array('maidan',$info['join_ordertype'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype][]" value="restaurant" title="餐饮" {if in_array('restaurant',$info['join_ordertype'])}checked{/if}/>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">商户参与订单：</label>
              <div class="layui-input-inline" style="width:600px">
                <input type="checkbox" name="info[join_ordertype2][]" value="shop" title="商城订单" {if in_array('shop',$info['join_ordertype2'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype2][]" value="collage" title="多人拼团" {if in_array('collage',$info['join_ordertype2'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype2][]" value="kanjia" title="砍价" {if in_array('kanjia',$info['join_ordertype2'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype2][]" value="seckill" title="秒杀" {if in_array('seckill',$info['join_ordertype2'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype2][]" value="tuangou" title="团购" {if in_array('tuangou',$info['join_ordertype2'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype2][]" value="maidan" title="买单" {if in_array('maidan',$info['join_ordertype2'])}checked{/if}/>
                <input type="checkbox" name="info[join_ordertype2][]" value="restaurant" title="餐饮" {if in_array('restaurant',$info['join_ordertype2'])}checked{/if}/>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">发放奖金：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[sendstatus]" value="1" title="开启" {if $info['id'] && $info['sendstatus']==1}checked{/if} lay-filter="sendstatus">
                <input type="radio" name="info[sendstatus]" value="0" title="关闭" {if !$info['id'] || $info['sendstatus']==0}checked{/if} lay-filter="sendstatus">
              </div>
              <div class="layui-form-mid layui-word-aux">开启后，每月1号凌晨一点统计上月用户排行数据，并发放奖金到佣金里；关闭则仅每月1号凌晨一点统计上月用户排行数据，不发放奖金</div>
            </div>
            <div class="layui-form-item" id="sendtype" style="display:{if $info['sendstatus'] != 1}none{/if}">
              <label class="layui-form-label">发放账户：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[sendtype]" value="1" title="{:t('余额')}" {if $info['id'] && $info['sendtype']==1}checked{/if}>
                <input type="radio" name="info[sendtype]" value="2" title="{:t('佣金')}" {if !$info['id'] || $info['sendtype']==2}checked{/if}>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">状态：</label>
              <div class="layui-input-inline">
                <input type="radio" name="info[status]" value="1" title="开启" {if !$info['id'] || $info['status']==1}checked{/if}>
                <input type="radio" name="info[status]" value="0" title="关闭" {if $info['status']==0}checked{/if}>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"></label>
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formsubmit">提 交</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {include file="public/js"/}
  <script>
  layui.form.on('radio(sendstatus)',function(data){
    if(data.value==1){
      $('#sendtype').show();
    }else{
      $('#sendtype').hide();
    }
  })
  layui.form.on('submit(formsubmit)', function(obj){
    var field = obj.field;
    var index = layer.load();
    $.post('',field,function(data){
      layer.close(index);
      dialog(data.msg,data.status);
      if(data.status==1){
        setTimeout(function(){
          location.href = location.href
        },1000)
      }
    })
  })
  </script>
  {include file="public/copyright"/}
</body>
</html>