<div class="content">
    <a href="/" class="logo"><img src="{$webinfo.logo}" title="{$webinfo.webname}"/>
		 <div class="title">{$webinfo.webname}</div>
		</a>
    <div class="item">
        <a href="/" class="on">首页</a>
        <a href="{:url('funshow')}">商城功能</a>
        <a href="{:url('lianxi')}">联系我们</a>
        <a href="{:url('help')}">帮助中心</a>
        
    </div>
    {if $reg_open}
    <div class="zixun" onclick="location.href='{:url('Login/reg')}'">免费注册</div>
    {else}
    <div class="zixun" onclick="location.href='{:url('lianxi')}'">免费咨询</div>
    {/if}
    <div class="login" onclick="location.href='{:url('Backstage/index')}'">立即登录</div>
</div>
