.form{width:94%;margin:20rpx 3%;border-radius:5px;padding:0 3%;background:#fff}.form-item{display:flex;align-items:center;width:100%;border-bottom:1px #ededed solid;height:98rpx;line-height:98rpx}.form-item:last-child{border:0}.form-item .label{color:#222;height:60rpx;line-height:60rpx;text-align:left;width:200rpx;padding-right:20rpx}.form-item .input{flex:1;height:60rpx;line-height:60rpx;text-align:right}.savebtn{width:90%;height:96rpx;line-height:96rpx;text-align:center;border-radius:48rpx;color:#fff;font-weight:700;margin:0 5%;margin-top:60rpx;border:none}