<div class="dsn-panel-editor-title">悬浮按钮设置</div>
<div class="dsn-panel-editor-content">
	<div class="layui-form-item">
    <div class="layui-form-label">类型</div>
    <div class="layui-input-inline" style="width:500px">
			<input class="radio" type="radio" name="{{Edit.id}}_style" value="1" ng-model="Edit.params.style" title="文本"/>
			<input class="radio" type="radio" name="{{Edit.id}}_style" value="2" ng-model="Edit.params.style" title="图标"/>
    </div>
	</div>

	<div class="layui-form-item" ng-if="Edit.params.style==1">
    <div class="layui-form-label">文 字</div>
    <div class="layui-input-inline"><input class="layui-input" ng-model="Edit.params.text"/></div>
	</div>
	<div class="layui-form-item" ng-if="Edit.params.style==1">
    <div class="layui-form-label">字体大小</div>
    <div class="slider" min="10" max="30" ng-model="Edit.params.fontsize"></div>
		<span class="slider-span"><input ng-model="Edit.params.fontsize"/> px</span>
	</div>
	<div class="layui-form-item" ng-if="Edit.params.style==1">
    <div class="layui-form-label">字体颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" ng-model="Edit.params.color"/>
    </div>
		<span class="colorpicker" ng-model="Edit.params.color"></span>
	</div>
	<div class="layui-form-item" ng-if="Edit.params.style==2">
		<div class="layui-form-label">选择图标</div>
		<div class="layui-btn layui-btn-primary" ng-click="uploadImg(Edit.id,'pic')" style="float:left">上传图片</div>
		<img ng-src="{{Edit.params.pic}}" style="width:30px;height:30px;margin-top:4px;margin-left:10px">
	</div>
	<div class="layui-form-item" ng-if="Edit.params.style==2">
    <div class="layui-form-label">图标宽度</div>
    <div class="slider" min="20" max="100" ng-model="Edit.params.picwidth"></div>
		<span class="slider-span"><input ng-model="Edit.params.picwidth"/> px</span>
	</div>
	<div class="layui-form-item" ng-if="Edit.params.style==2">
    <div class="layui-form-label">图标高度</div>
    <div class="slider" min="20" max="100" ng-model="Edit.params.picheight"></div>
		<span class="slider-span"><input ng-model="Edit.params.picheight"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">背景颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" style="width:160px" ng-model="Edit.params.bgcolor"/>
    </div>
		<span class="colorpicker" coloralpha="1" ng-model="Edit.params.bgcolor"></span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">边 框</div>
    <div class="slider" min="0" max="10" ng-model="Edit.params.border"></div>
		<span class="slider-span"><input ng-model="Edit.params.border"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">边框颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" style="width:160px" ng-model="Edit.params.bordercolor"/>
    </div>
		<span class="colorpicker" coloralpha="1" ng-model="Edit.params.bordercolor"></span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">距顶端</div>
    <div class="slider" min="0" max="100" ng-model="Edit.params.top"></div>
		<span class="slider-span"><input ng-model="Edit.params.top"/> vh</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">距左端</div>
    <div class="slider" min="0" max="100" ng-model="Edit.params.left"></div>
		<span class="slider-span"><input ng-model="Edit.params.left"/> vw</span>
	</div>

	<div class="layui-form-item">
    <div class="layui-form-label">宽 度</div>
    <div class="slider" min="20" max="100" ng-model="Edit.params.width"></div>
		<span class="slider-span"><input ng-model="Edit.params.width"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">高 度</div>
    <div class="slider" min="20" max="100" ng-model="Edit.params.height"></div>
		<span class="slider-span"><input ng-model="Edit.params.height"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">圆角度</div>
    <div class="slider" min="0" max="50" ng-model="Edit.params.radius"></div>
		<span class="slider-span"><input ng-model="Edit.params.radius"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">跳转链接</div>
    <div class="layui-input-inline">
			<input class="layui-input" value="" ng-model="Edit.params.hrefurl"/>
    </div>
		<div class="layui-btn layui-btn-primary" style="float:left" ng-click="chooseUrl(Edit.id, -1)">选择链接</div>
		<div class="layui-form-mid">
			<span style="margin-left:10px">{{Edit.params.hrefname}}</span>
    </div>
	</div>
	<hr>
	{if !$type}
	{if !$noshow_modules || !in_array('ModulePlatform',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示平台</div>
		<div class="layui-input-inline" style="width:500px">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
			{foreach $platform as $pl}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{:getplatformname($pl)}" name="{{Edit.id}}_platform['{$pl}']" ng-model="Edit.params.platform['{$pl}']"/>
			{/foreach}

		</div>
	</div>
	{/if}
	{if !$noshow_modules || !in_array('ModuleQuanxian',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示范围</div>
		<div class="layui-input-inline" style="width:500px">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
			{foreach $memberlevelList as $lv}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{$lv.name}" name="{{Edit.id}}_quanxian[{$lv.id}]" ng-model="Edit.params.quanxian[{$lv.id}]"/>
			{/foreach}
		</div>
	</div>
	{/if}
	{include file="designer_page/temp/edit-plugin-mendian" /}
	<div class="layui-form-item" ng-show="!Edit.params.quanxian['all']">
    <div class="layui-form-label">显示用户</div>
    <div class="layui-input-inline">
			<input class="layui-input" ng-model="Edit.params.showmids"/>
    </div>
		<div class="layui-form-mid layui-word-aux">填写用户ID，多个用英文标点逗号(,)分割
	</div>
	{else}
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有门店" name="{{Edit.id}}_mendian['all']" ng-model="Edit.params.mendian['all']"/>
	{/if}
</div>