<div class="dsn-panel-editor-title">轮播设置</div>
<div class="dsn-panel-editor-content">
	<div class="layui-form-item">
    <div class="layui-form-label">与上方距离</div>
    <div class="slider" min="0" max="40" ng-model="Edit.params.margin_y"></div>
		<span class="slider-span"><input ng-model="Edit.params.margin_y"/> px</span>
	</div>

	
	<div class="layui-form-item">
		<div class="layui-form-label">是否显示指示点</div>
		<div class="layui-input-inline">
			<input class="radio" title="显示" type="radio" name="{{Edit.id}}_indicatordots" value="1" ng-model="Edit.params.indicatordots">
			<input class="radio" title="不显示" type="radio" name="{{Edit.id}}_indicatordots" value="0" ng-model="Edit.params.indicatordots">
    </div>
	</div>
	<div ng-show="Edit.params.indicatordots==1">
	<div class="layui-form-item">
    <div class="layui-form-label">指示点形状</div>
    <div class="layui-input-inline" style="width:500px">
			<input class="radio" type="radio" name="{{Edit.id}}_shape" value="" ng-model="Edit.params.shape" title="默认">
        <input class="radio" type="radio" name="{{Edit.id}}_shape" value="shape1" ng-model="Edit.params.shape" title="长方形">
        <input class="radio" type="radio" name="{{Edit.id}}_shape" value="shape2" ng-model="Edit.params.shape" title="正方形">
        <input class="radio" type="radio" name="{{Edit.id}}_shape" value="shape3" ng-model="Edit.params.shape" title="圆形">
    </div>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">指示点位置</div>
    <div class="layui-input-inline" style="width:500px">
        <input class="radio" type="radio" name="{{Edit.id}}_align" value="left" ng-model="Edit.params.align" title="居左">
        <input class="radio" type="radio" name="{{Edit.id}}_align" value="center" ng-model="Edit.params.align" title="居中">
        <input class="radio" type="radio" name="{{Edit.id}}_align" value="right" ng-model="Edit.params.align" title="居右">
    </div>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">指示点与下方距离</div>
    <div class="slider" min="0" max="{{Edit.params.height}}" ng-model="Edit.params.dotSite"></div>
		<span class="slider-span"><input ng-model="Edit.params.dotSite"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">指示点颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" value="{{Edit.params.indicatorcolor}}" ng-model="Edit.params.indicatorcolor"/>
    </div>
		<span class="colorpicker" coloralpha="1" ng-model="Edit.params.indicatorcolor"></span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">选中指示点颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" value="{{Edit.params.indicatoractivecolor}}" ng-model="Edit.params.indicatoractivecolor"/>
    </div>
		<span class="colorpicker" coloralpha="1" ng-model="Edit.params.indicatoractivecolor"></span>
	</div>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">轮播图高度</div>
    <div class="slider" min="100" max="500" ng-model="Edit.params.height"></div>
		<span class="slider-span"><input ng-model="Edit.params.height"/> px</span>
	</div>
	<div class="layui-form-item">
        <div class="layui-form-label">圆角度</div>
        <div class="slider" min="0" max="100" ng-model="Edit.params.borderradius"></div>
		<span class="slider-span"><input ng-model="Edit.params.borderradius"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">自动切换时间</div>
    <div class="slider" min="2" max="20" ng-model="Edit.params.interval"></div>
		<span class="slider-span"><input ng-model="Edit.params.interval"/> 秒</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">背景颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" value="{{Edit.params.bgcolor}}" ng-model="Edit.params.bgcolor"/>
    </div>
		<span class="colorpicker" coloralpha="1" ng-model="Edit.params.bgcolor"></span>
	</div>

	<!--<div class="layui-form-item">
    <div class="layui-form-label">前边距</div>
    <div class="slider" min="0" max="100" ng-model="Edit.params.previous_margin"></div>
		<span class="slider-span">
			<input ng-model="Edit.params.previous_margin"/> px
			<span style="color:#999">可用于露出前一项的一小部分</span>
		</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">后边距</div>
    <div class="slider" min="0" max="100" ng-model="Edit.params.next_margin"></div>
		<span class="slider-span">
			<input ng-model="Edit.params.next_margin"/> px
			<span style="color:#999">可用于露出后一项的一小部分</span>
		</span>
	</div>-->


	<div ng-repeat="banner in Edit.data" class="dsn-panel-editor-relative" style="width:600px">
    <div class="dsn-panel-editor-del" style="right:30px;font-size:12px" title="上移" ng-click="upItemChild(Edit.id,banner.id)"><i class="fa fa-arrow-up"></i></div>
    <div class="dsn-panel-editor-del" title="移除" ng-click="delItemChild(Edit.id, banner.id)">×</div>
    <div class="dsn-panel-editor-line flex">
			<div class="dsn-panel-editor-goodimg flex0" ng-click="uploadImgChild(Edit.id, banner.id)">
				<img ng-src="{{banner.imgurl}}" width="100%" ng-show="banner.imgurl" />
				<div class="dsn-panel-editor-goodimg-t1" ng-show="!banner.imgurl"><i class="fa fa-plus-circle"></i> 选择图片</div>
				<div class="dsn-panel-editor-goodimg-t2" ng-show="banner.imgurl">重新选择图片</div>
			</div>
			<div class="dsn-panel-editor-line-right flex-y-center">
				<div class="flex-y-center">
					<input class="layui-input" style="width:170px" value="" ng-model="banner.hrefurl" placeholder=""/>
					<span class="layui-btn  layui-btn-primary" ng-click="chooseUrl(Edit.id, banner.id)">选择链接</span>
					<span style="margin-left:10px">{{banner.hrefname}}</span>
				</div>
			</div>
    </div>
	</div>
	<div class="layui-btn layui-btn-primary" style="width:600px;margin-top:10px;margin-bottom:10px" ng-click="addItemChild('banner', Edit.id)"><i class="fa fa-plus-circle"></i> 添加一个轮播</div>
	<hr>
	<div class="layui-form-item">
    <div class="layui-form-label">左右边距</div>
    <div class="slider" min="0" max="40" ng-model="Edit.params.margin_x"></div>
		<span class="slider-span"><input ng-model="Edit.params.margin_x"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">左右内边距</div>
    <div class="slider" min="0" max="40" ng-model="Edit.params.padding_x"></div>
		<span class="slider-span"><input ng-model="Edit.params.padding_x"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">上下内边距</div>
		<div class="slider" min="0" max="40" ng-model="Edit.params.padding_y"></div>
		<span class="slider-span"><input ng-model="Edit.params.padding_y"/> px</span>
	</div>
	{if !$type}
	{if !$noshow_modules || !in_array('ModulePlatform',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示平台</div>
		<div class="layui-input-inline" style="width:500px">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
			{foreach $platform as $pl}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{:getplatformname($pl)}" name="{{Edit.id}}_platform['{$pl}']" ng-model="Edit.params.platform['{$pl}']"/>
			{/foreach}

		</div>
	</div>
	{/if}
	{if !$noshow_modules || !in_array('ModuleQuanxian',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示范围</div>
		<div class="layui-input-inline" style="width:500px">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
			{foreach $memberlevelList as $lv}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{$lv.name}" name="{{Edit.id}}_quanxian[{$lv.id}]" ng-model="Edit.params.quanxian[{$lv.id}]"/>
			{/foreach}
		</div>
	</div>
	{/if}
	{include file="designer_page/temp/edit-plugin-mendian" /}
	<div class="layui-form-item" ng-show="!Edit.params.quanxian['all']">
    <div class="layui-form-label">显示用户</div>
    <div class="layui-input-inline">
			<input class="layui-input" ng-model="Edit.params.showmids"/>
    </div>
		<div class="layui-form-mid layui-word-aux">填写用户ID，多个用英文标点逗号(,)分割
	</div>
	{else}
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有门店" name="{{Edit.id}}_mendian['all']" ng-model="Edit.params.mendian['all']"/>
	{/if}
</div>