<div class="dsn-panel-editor-title">洗鞋商品设置</div>
<div class="dsn-panel-editor-content">
    <div class="layui-form-item">
        <div class="layui-form-label">与上方距离</div>
        <div class="slider" min="0" max="40" ng-model="Edit.params.margin_y"></div>
        <span class="slider-span"><input ng-model="Edit.params.margin_y"/> px</span>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">商品名称</div>
        <div class="layui-input-inline" style="width:500px">
            <input class="radio" type="radio" name="{{Edit.id}}_showname" value="1" ng-model="Edit.params.showname" title="显示"/>
            <input class="radio" type="radio" name="{{Edit.id}}_showname" value="0" ng-model="Edit.params.showname" title="不显示"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">商品价格</div>
        <div class="layui-input-inline" style="width:500px">
            <input class="radio" type="radio" name="{{Edit.id}}_showprice" value="1" ng-model="Edit.params.showprice" title="销售价+会员价"/>
            <input class="radio" type="radio" name="{{Edit.id}}_showprice" value="2" ng-model="Edit.params.showprice" title="只显示销售价"/>
            <input class="radio" type="radio" name="{{Edit.id}}_showprice" value="0" ng-model="Edit.params.showprice" title="不显示"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">背景颜色</div>
        <div class="layui-input-inline">
            <input class="layui-input" value="{{Edit.params.bgcolor}}" ng-model="Edit.params.bgcolor"/>
        </div>
        <span class="colorpicker" ng-model="Edit.params.bgcolor"></span>
    </div>

    <div class="layui-form-item">
        <div class="layui-form-label">商品来源</div>
        <div class="layui-input-inline" style="width:500px">
            {if !$type}
            <input class="radio" type="radio" name="{{Edit.id}}_productfrom" value="0" ng-model="Edit.params.productfrom" title="手动选择"/>
            {/if}
            <input class="radio" type="radio" name="{{Edit.id}}_productfrom" value="1" ng-model="Edit.params.productfrom" title="分组分类" ng-change="getxixie(Edit.id)"/>
        </div>
    </div>
    <div ng-show="Edit.params.productfrom == '0'">
        <div ng-repeat="good in Edit.data" class="dsn-panel-editor-relative">
            <div class="dsn-panel-editor-del" style="right:30px;font-size:12px" title="上移" ng-click="upItemChild(Edit.id,good.id)"><i class="fa fa-arrow-up"></i></div>
            <div class="dsn-panel-editor-del" title="移除" ng-click="delxixie(Edit.id,good.id)">×</div>
            <div class="dsn-panel-editor-line flex">
                <div class="dsn-panel-editor-goodimg flex0" ng-click="addxixie('replace',Edit.id, good.id)">
                    <img ng-src="{{good.pic}}" width="100%"/>
                    <div class="dsn-panel-editor-goodimg-t2">重新选择商品</div>
                </div>
                <div class="dsn-panel-editor-line-right">
                    <div class="layui-form-item">
                        <div class="layui-form-label">商品名称</div>
                        <div class="layui-form-mid">{{good.name}}</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-form-label">商品价格</div>
                        <div class="layui-form-mid">
                            <div style="font-size: 16px;">销售价￥{{good.sell_price}}</div>
                            <div style="font-size: 16px;">会员价￥{{good.vip_price}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-btn layui-btn-primary" style="width:500px;margin-top:10px" ng-click="addxixie('',Edit.id,'')"><i class="fa fa-plus-circle"></i> 添加一个商品</div>
    </div>
    <div ng-show="Edit.params.productfrom == '1'">
        {if $bid==0}
        <div class="layui-form-item">
            <div class="layui-form-label">所属商家</div>
            <div class="layui-input-inline">
                <select class="layui-input" style="width:200px;-webkit-appearance:menulist" lay-ignore ng-model="Edit.params.bid" ng-change="getxixie(Edit.id)">
                    <option value="0">自营</option>
                    <option value="">全部</option>
                    {if !$type}
                        {foreach $bnlist as $bv}
                            <option value="{$bv['id']}">{$bv['name']}</option>
                        {/foreach}
                    {/if}
                </select>
            </div>
        </div>
        {/if}
        <div class="layui-form-item">
            <div class="layui-form-label">商品分类</div>
            <div class="layui-input-inline">
                <select class="layui-input" style="width:200px;-webkit-appearance:menulist" lay-ignore ng-model="Edit.params.category" ng-change="getxixie(Edit.id)">
                    <option value="">全部分类</option>
                    {if !$type}
                        {foreach $xixie_clist as $cv}
                            <option value="{$cv['id']}">{$cv['name']}</option>
                            {foreach $cv['child'] as $v}
                            <option value="{$v['id']}">&nbsp;&nbsp;&nbsp;{$v['name']}</option>
                            {/foreach}
                        {/foreach}
                    {/if}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">排序方式</div>
            <div class="layui-input-inline" style="width:500px">
                <input class="radio" type="radio" name="{{Edit.id}}_sortby" value="sort" ng-model="Edit.params.sortby" ng-change="getxixie(Edit.id)" title="按排序"/>
                <input class="radio" type="radio" name="{{Edit.id}}_sortby" value="createtimedesc" ng-model="Edit.params.sortby" ng-change="getxixie(Edit.id)" title="创建时间↓"/></i>
                <input class="radio" type="radio" name="{{Edit.id}}_sortby" value="createtime" ng-model="Edit.params.sortby" ng-change="getxixie(Edit.id)" title="创建时间↑"/></i>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">显示数量</div>
            <div class="layui-input-inline">
                <input class="layui-input" ng-model="Edit.params.proshownum" ng-blur="getxixie(Edit.id)"/>
            </div>
        </div>
    </div>
    <hr>
    <div class="layui-form-item">
        <div class="layui-form-label">左右边距</div>
        <div class="slider" min="0" max="40" ng-model="Edit.params.margin_x"></div>
        <span class="slider-span"><input ng-model="Edit.params.margin_x"/> px</span>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">左右内边距</div>
        <div class="slider" min="0" max="40" ng-model="Edit.params.padding_x"></div>
        <span class="slider-span"><input ng-model="Edit.params.padding_x"/> px</span>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">上下内边距</div>
        <div class="slider" min="0" max="40" ng-model="Edit.params.padding_y"></div>
        <span class="slider-span"><input ng-model="Edit.params.padding_y"/> px</span>
    </div>
    {if !$type}
    <div class="layui-form-item">
        <div class="layui-form-label">显示平台</div>
        <div class="layui-input-inline" style="width:500px">
            <input class="checkbox" type="checkbox" lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
            {foreach $platform as $pl}
            <input class="checkbox" type="checkbox" lay-skin="primary" title="{:getplatformname($pl)}" name="{{Edit.id}}_platform['{$pl}']" ng-model="Edit.params.platform['{$pl}']"/>
            {/foreach}
        </div>
    </div>
    {else}
        <input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
        <input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
        <input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有门店" name="{{Edit.id}}_mendian['all']" ng-model="Edit.params.mendian['all']"/>
    {/if}
</div>