<div class="dsn-panel-editor-title">按钮导航设置</div>
<div class="dsn-panel-editor-content">
	<!-- <div class="layui-form-item">
    <div class="layui-form-label">图标样式</div>
    <div class="layui-input-inline">
        <input class="radio" type="radio" name="{{Edit.id}}_style" value="0" ng-model="Edit.params.style"> 正方形
        <input class="radio" type="radio" name="{{Edit.id}}_style" value="100%" ng-model="Edit.params.style"> 圆形
    </div>
	</div> -->
	<div class="layui-form-item">
    <div class="layui-form-label">与上方距离</div>
    <div class="slider" min="0" max="40" ng-model="Edit.params.margin_y"></div>
		<span class="slider-span"><input ng-model="Edit.params.margin_y"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">每行显示</div>
    <div class="layui-input-inline" style="width:500px">
      <input class="radio" type="radio" name="{{Edit.id}}_num" value="2" ng-model="Edit.params.num" title="两个">
      <input class="radio" type="radio" name="{{Edit.id}}_num" value="3" ng-model="Edit.params.num" title="三个">
      <input class="radio" type="radio" name="{{Edit.id}}_num" value="4" ng-model="Edit.params.num" title="四个">
      <input class="radio" type="radio" name="{{Edit.id}}_num" value="5" ng-model="Edit.params.num" title="五个">
    </div>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">每页显示</div>
    <div class="slider" min="4" max="10" ng-model="Edit.params.pernum"></div>
		<span class="slider-span"><input ng-model="Edit.params.pernum"/> 个</span>
		<span class="slider-span layui-word-aux">注: 超出将左右滑动显示</span>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">图标</div>
    <div class="layui-input-inline" style="width:500px">
      <input class="radio" type="radio" name="{{Edit.id}}_showicon" value="1" ng-model="Edit.params.showicon" title="显示">
      <input class="radio" type="radio" name="{{Edit.id}}_showicon" value="0" ng-model="Edit.params.showicon" title="不显示">
    </div>
	</div>
	<div class="layui-form-item" ng-show="Edit.params.showicon==1">
		<div class="layui-form-label">图标大小</div>
		<div class="slider" min="10" max="60" ng-model="Edit.params.iconsize"></div>
		<span class="slider-span"><input ng-model="Edit.params.iconsize"/> px</span>
	</div>
	<div class="layui-form-item" ng-show="Edit.params.showicon==1">
		<div class="layui-form-label">圆角度数</div>
		<div class="slider" ng-model="Edit.params.radius"></div>
		<span class="slider-span layui-word-aux">注: 0是方形 100是圆形</span>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">标题</div>
    <div class="layui-input-inline" style="width:500px">
      <input class="radio" type="radio" name="{{Edit.id}}_showtitle" value="1" ng-model="Edit.params.showtitle" title="显示">
      <input class="radio" type="radio" name="{{Edit.id}}_showtitle" value="0" ng-model="Edit.params.showtitle" title="不显示">
    </div>
	</div>
	<div class="layui-form-item" ng-show="Edit.params.showtitle==1">
		<div class="layui-form-label">标题内容</div>
    <div class="layui-input-inline">
			<input class="layui-input" ng-model="Edit.params.title"/>
    </div>
	</div>
	<div class="layui-form-item" ng-show="Edit.params.showtitle==1">
    <div class="layui-form-label">标题大小</div>
    <div class="slider" min="10" max="40" ng-model="Edit.params.titlesize"></div>
		<span class="slider-span"><input ng-model="Edit.params.titlesize"/> px</span>
	</div>
	<div class="layui-form-item" ng-show="Edit.params.showtitle==1">
    <div class="layui-form-label" ng-model="Edit.params.bgcolor">标题颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" value="{{Edit.params.titlecolor}}" ng-model="Edit.params.titlecolor"/>
    </div>
		<span class="colorpicker" ng-model="Edit.params.titlecolor"></span>
	</div>
	<div class="layui-form-item" ng-show="Edit.params.showicon==0">
		<div class="layui-form-label">中间竖线</div>
    <div class="layui-input-inline" style="width:500px">
      <input class="radio" type="radio" name="{{Edit.id}}_showline" value="1" ng-model="Edit.params.showline" title="显示">
      <input class="radio" type="radio" name="{{Edit.id}}_showline" value="0" ng-model="Edit.params.showline" title="不显示">
    </div>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label" ng-model="Edit.params.bgcolor">背景颜色</div>
    <div class="layui-input-inline">
			<input class="layui-input" value="{{Edit.params.bgcolor}}" ng-model="Edit.params.bgcolor"/>
    </div>
		<span class="colorpicker" ng-model="Edit.params.bgcolor"></span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">字体大小</div>
    <div class="slider" min="10" max="40" ng-model="Edit.params.fontsize"></div>
		<span class="slider-span"><input ng-model="Edit.params.fontsize"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">字体行高</div>
    <div class="slider" min="20" max="60" ng-model="Edit.params.fontheight"></div>
		<span class="slider-span"><input ng-model="Edit.params.fontheight"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">圆角度</div>
    <div class="slider" min="0" max="40" ng-model="Edit.params.boxradius"></div>
		<span class="slider-span"><input ng-model="Edit.params.boxradius"/> px</span>
	</div>

	<div ng-repeat="menu in Edit.data" class="dsn-panel-editor-relative" style="width:600px">
    <div class="dsn-panel-editor-del" style="right:30px;font-size:12px" title="上移" ng-click="upItemChild(Edit.id,menu.id)"><i class="fa fa-arrow-up"></i></div>
    <div class="dsn-panel-editor-del" title="移除" ng-click="delItemChild(Edit.id,menu.id)">×</div>
    <div class="dsn-panel-editor-line flex">
			<div class="dsn-panel-editor-goodimg flex0" ng-click="uploadImgChild(Edit.id, menu.id)" style="height:120px; width:120px;">
				<img ng-src="{{menu.imgurl}}" width="100%" ng-show="menu.imgurl" />
				<div class="dsn-panel-editor-goodimg-t1" ng-show="!menu.imgurl" style="line-height:120px;"><i class="fa fa-plus-circle"></i> 选择图片</div>
				<div class="dsn-panel-editor-goodimg-t2" ng-show="menu.imgurl" style="width:120px;">重新选择图片</div>
			</div>
			<div class="dsn-panel-editor-line-right ">
				<div class="layui-form-item" style="margin-bottom:5px">
					<div class="layui-form-label">按钮文字</div>
					<div class="layui-input-inline">
						<input class="layui-input" value="" ng-model="menu.text" placeholder="请填写按钮文字" />
          </div>
				</div>
				<div class="layui-form-item" style="margin-bottom:0">
					<div class="layui-form-label">跳转链接</div>
					<div class="layui-input-inline">
						<input class="layui-input" value="" ng-model="menu.hrefurl"/>
					</div>
					<div class="layui-btn layui-btn-primary" style="float:left" ng-click="chooseUrl(Edit.id,menu.id)">选择链接</div>
					<div class="layui-form-mid" style="margin-left: 90px;">
						<span style="margin-left:10px">{{menu.hrefname}}</span>
					</div>
				</div>
				<div class="layui-form-item" style="margin-bottom:0px">
					<div class="layui-form-label">文字颜色</div>
					<div class="layui-input-inline">
						<input class="layui-input" value="{{menu.color}}" ng-model="menu.color"/>
					</div>
					<span class="colorpicker" ng-model="menu.color"></span>
				</div>
			</div>
    </div>
	</div>
	<div class="layui-btn layui-btn-primary" style="width:600px;margin-top:10px" ng-click="addItemChild('menu', Edit.id)"><i class="fa fa-plus-circle"></i> 添加一个按钮</div>

	<hr>
	<div class="layui-form-item">
    <div class="layui-form-label">左右边距</div>
    <div class="slider" min="0" max="40" ng-model="Edit.params.margin_x"></div>
		<span class="slider-span"><input ng-model="Edit.params.margin_x"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">左右内边距</div>
    <div class="slider" min="0" max="40" ng-model="Edit.params.padding_x"></div>
		<span class="slider-span"><input ng-model="Edit.params.padding_x"/> px</span>
	</div>
	<div class="layui-form-item">
    <div class="layui-form-label">上下内边距</div>
		<div class="slider" min="0" max="40" ng-model="Edit.params.padding_y"></div>
		<span class="slider-span"><input ng-model="Edit.params.padding_y"/> px</span>
	</div>
	{if !$type}
	{if !$noshow_modules || !in_array('ModulePlatform',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示平台</div>
		<div class="layui-input-inline" style="width:500px">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
			{foreach $platform as $pl}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{:getplatformname($pl)}" name="{{Edit.id}}_platform['{$pl}']" ng-model="Edit.params.platform['{$pl}']"/>
			{/foreach}

		</div>
	</div>
	{/if}
	{if !$noshow_modules || !in_array('ModuleQuanxian',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示范围</div>
		<div class="layui-input-inline" style="width:500px">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
			{foreach $memberlevelList as $lv}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{$lv.name}" name="{{Edit.id}}_quanxian[{$lv.id}]" ng-model="Edit.params.quanxian[{$lv.id}]"/>
			{/foreach}
		</div>
	</div>
	{/if}
	{include file="designer_page/temp/edit-plugin-mendian" /}
	<div class="layui-form-item" ng-show="!Edit.params.quanxian['all']">
    <div class="layui-form-label">显示用户</div>
    <div class="layui-input-inline">
			<input class="layui-input" ng-model="Edit.params.showmids"/>
    </div>
		<div class="layui-form-mid layui-word-aux">填写用户ID，多个用英文标点逗号(,)分割
	</div>
	{else}
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
		<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有门店" name="{{Edit.id}}_mendian['all']" ng-model="Edit.params.mendian['all']"/>
	{/if}
</div>