<div class="dsn-panel-editor-title">页面信息设置<span style="font-size: 12px; margin-left: 10px;"></span></div>
<div class="dsn-panel-editor-content">
	<div class="layui-form-item">
    <div class="layui-form-label">页面标题</div>
    <div class="layui-input-inline">
        <input class="layui-input" placeholder="页面标题，手机端的页面标题" ng-model="Edit.params.title" />
    </div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">背景颜色</div>
		<div class="layui-input-inline">
			<input type="text" name="menu_bgcolor" class="layui-input" ng-model="Edit.params.bgcolor">
		</div>
		<span class="colorpicker" ng-model="Edit.params.bgcolor"></span>
	</div>
	
</div>
