<div class="dsn-mod dsn-jidian-warp" ng-class="{'dsn-mod-select':Item.id == focus}" ng-style="{'background-color':Item.params.bgcolor,'border-radius':Item.params.borderradius+'px','margin':Item.params.margin_y+'px '+Item.params.margin_x+'px','padding':Item.params.padding_y+'px '+Item.params.padding_x+'px'}">
	<div class="dp-jidian"
		ng-style="{}">
		<div class="dp-jidian-f1"></div>
		<div class="dp-jidian-f2">
			<p class="text-big">集满5单返券</p>
			<p>再下<span>4单</span>得<span>4元无门槛</span>优惠券</p>
		</div>
		<div class="dp-jidian-f3">
			<span class="circle circleCheck"><i></i></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
			<span class="circle"></span>
		</div>
	</div>
</div>