<div class="dsn-mod dsn-form-log-warp" ng-class="{'dsn-mod-select':Item.id == focus}" ng-style="{'background-color':Item.params.bgcolor,'border-radius':Item.params.borderradius+'px','margin':Item.params.margin_y+'px '+Item.params.margin_x+'px','padding':Item.params.padding_y+'px '+Item.params.padding_x+'px'}">
	<div class="dp-form-log" ng-style="{}">
		<div class="flex head">
			<div class="left">{{Item.params.title}}</div>
			<div class="right">全部xx条<img src="__STATIC__/img/arrowright.png" style="width:16px;height:16px"/></div>
		</div>
		<div class="text">
			<div class="title">昵称xx 填写了{{Item.data.name}}</div>
			<div>2020-11-11 10:00</div>
		</div>
	</div>
</div>