<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>取货记录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
            <div class="layui-card-header">取货记录
                {if input('param.isopen')==1}
                <i class="layui-icon layui-icon-close" style="font-size:18px;font-weight:bold;cursor:pointer" onclick="closeself()"></i>
                {/if}
            </div>
            <div class="layui-card-body" pad15>
                <div class="layui-col-md4" style="padding-bottom:10px">
                    <button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="location.href='{:url('excel')}'+urlEncode(datawhere)">导出EXCEL</button>
                    <!-- <button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="datadel(0)">删除</button> -->
                </div>
                <div class="layui-form layui-col-md8 layui-form-search">
                    {if !input('param.psid')}
                    <div class="layui-inline">
                        <label class="layui-form-label">取货员</label>
                        <div class="layui-input-inline">
                            <select name="psid">
                                <option value="">全部</option>
                                {foreach $psusers as $v}
                                <option value="{$v.id}">{$v.realname}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    {/if}
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <select name="status">
                                <option value="">全部</option>
                                <option value="1">待取货</option>
                                <option value="2">入库中</option>
                                <option value="3">清洗中</option>
                                <option value="4">送货中</option>
                                <option value="5">已完成</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <table id="tabledata" lay-filter="tabledata"></table>
                </div>
            </div>
        </div>
    </div>
  </div>
    {include file="public/js"/}
    <script>
  var table = layui.table;
    var datawhere = {};
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
            //{type:"checkbox"},
      {field: 'id', title: 'ID',  sort: true,width:80},
      {field: 'realname', title: '取货员信息',templet:function(d){
                if(!d.psuser) return '';
                return d.psuser.realname+'<br>'+d.psuser.tel
      }},
      {field: 'qh_pics', title: '取货图片'},
      {field: 'nickname', title: '下单人',width:150,templet:function(d){
                if(!d.member) return '';
                return '<img src="'+d.member.headimg+'" style="width:40px;height:40px"/> '+d.member.nickname;
      }},
      {field: 'ordernum', title: '订单号/下单时间',sort: true,width:160,templet:function(d){ return d.ordernum +'<div style="color:#080">'+ date('Y年m月d日 H:i',d.createtime)+'</div>'}},
      {field: 'product_price', title: '商品总价/实付款',width:150,templet: '<div><div>总价：￥{{d.product_price}}</div><div style="font-weight:bold">实付：￥{{d.totalprice}}</div></div>'},
      {field: 'address', title: '地址',templet: '<div><div style="font-weight:bold">{{d.linkman}} {{d.tel}} </div><div style="line-height:20px;font-size:12px">{{d.area}} {{d.address}}</div></div>'},
      {field: 'status', title: '取货状态',templet:function(d){ 
            if(d.status==1){
                return '<span style="color:red">待取货</span>';
            }else if(d.status==2){
                return '<span style="color:green">入库中</span>';
            }else if(d.status==3){
                return '<span style="color:green">清洗中</span>';
            }else if(d.status==4){
                return '<span style="color:green">送货中</span>';
            }else if(d.status==5){
                return '<span style="color:#999">已完成</span>';
            }
      }},
      {field: 'deal_time', title: '操作时间',width:150},
      {if $mdid}
          {field: 'operation', title: '操作',templet:function(d){
            var html = '';
            if(d.status!=5 && d.psid != 0){
                html += '<button class="table-btn" onclick="setst('+d.id+',10)">取消取货</button>';
            }
            return html;
          }}
      {/if}
    ]]
  });
    //排序
    table.on('sort(tabledata)', function(obj){
        datawhere.field = obj.field;
        datawhere.order = obj.type;
        tableIns.reload({
            initSort: obj,
            where: datawhere
        });
    });
    //检索
    layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
        var field = obj.field
        var olddatawhere = datawhere
        datawhere = field
        datawhere.field = olddatawhere.field
        datawhere.order = olddatawhere.order
        tableIns.reload({
            where: datawhere,
            page: {curr: 1}
        });
    })
    {if $mdid}
        //上下架
        function setst(id,st){
            var ids = [];
            if(id==0){
                var checkStatus = table.checkStatus('tabledata')
                var checkData = checkStatus.data; //得到选中的数据
                if(checkData.length === 0){
                     return layer.msg('请选择数据');
                }
                for(var i=0;i<checkData.length;i++){
                    ids.push(checkData[i]['id']);
                }
            }else{
                ids.push(id);
            }
            layer.confirm('确定要'+(st==10?'取消':'操作')+'吗?',{icon: 7, title:'操作确认'}, function(index){
                //do something
                layer.close(index);
                var index = layer.load();
                $.post("{:url('setst')}",{ids:ids,st:st},function(data){
                    layer.close(index);
                    dialog(data.msg,data.status);
                    tableIns.reload()
                })
            });
        }
    {/if}
    </script>
    {include file="public/copyright"/}
</body>
</html>