<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>排队队列编辑</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-card layui-col-md12">
				<div class="layui-card-header">
					{if !$info['id']}<i class="fa fa-plus"></i> 添加排队队列{else}<i class="fa fa-pencil"></i> 编辑排队队列{/if}
					{if input('param.isopen')==1}
					<i class="layui-icon layui-icon-close" style="font-size:18px;font-weight:bold;cursor:pointer" onclick="closeself()"></i>
					{/if}
				</div>
				<div class="layui-card-body" pad15>
					<div class="layui-form">
						<input type="hidden" name="info[id]" value="{$info.id}"/>
						<div class="layui-form-item">
							<label class="layui-form-label">{:t('会员')}ID：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" name="info[mid]" {if !getcustom('restaurant_queue_screen_by_category')} lay-verify="required" {/if} lay-verType="tips" class="layui-input" value="{$info.mid}">
							</div>
							<div class="layui-form-mid layui-word-aux"><a href="javascript:vodi(0)" onclick="openmax('{:url('member/index')}/isopen/1')">查找{:t('会员')}ID</a></div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">队列：</label>
							<div class="layui-input-inline" style="width:200px">
								<select name="info[cid]">
									{foreach $clist as $c}
									<option value="{$c.id}">{$c.name}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">联系人：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" name="info[linkman]" lay-verType="tips" class="layui-input" value="{$info.linkman}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">手机号：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" name="info[tel]" lay-verType="tips" class="layui-input" value="{$info.tel}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">用餐人数：</label>
							<div class="layui-input-inline" style="width:200px">
								<input type="text" name="info[renshu]" lay-verType="tips" class="layui-input" value="{$info.renshu}"  >
							</div>
						</div>

						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn layui-btn-danger" lay-submit lay-filter="formsubmit">提 交</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
	{include file="public/js"/}
	<script>
	//var ueditor = UE.getEditor('content');
	layui.form.on('submit(formsubmit)', function(obj){
		var field = obj.field
		//field['info[content]'] = ueditor.getContent();
		//console.log(field);return;
		var index = layer.load();
		$.post("{:url('edit')}",field,function(data){
			layer.close(index);
			dialog(data.msg,data.status);
			websocketsend({ type:'restaurant_queue_add',token:'{$token}',data:{ aid:{$aid},bid:{$bid} }});
			if(data.status == 1){
				{if input('param.isopen')==1}
				setTimeout(function(){
					parent.layer.close(parent.layer.getFrameIndex(window.name));
					parent.tableIns.reload()
				},1000);
				{else}
				setTimeout(function(){
					location.href="{:url('index')}"
				},1000);
				{/if}
			}
		})
	})

	
	var websocket =null;
	function websocketsend(senddata){
		if(websocket==null || websocket.readyState!=1){
			//console.log(1)
			websocket = new WebSocket('wss://{$_SERVER['HTTP_HOST']}/wss');
			websocket.onopen = function(evt) {
				//websocket.send(JSON.stringify({ type:'restaurant_queue',token:'{$token}',data:{ aid:{$aid},bid:{$bid} } }))
				if(senddata){
					websocket.send(JSON.stringify(senddata))
				}
			};
			websocket.onclose = function(evt) {
					console.log('onclose');
					console.log(evt);
			};
			websocket.onmessage = function(res) {
				console.log(res.data)
				try{
					var data = JSON.parse(res.data);
					receiveMessage(data);
				}catch(e){}
			};
			websocket.onerror = function(evt) {
					console.log('onerror');
					console.log(evt);
			};
		}else{
			if(senddata)
			websocket.send(JSON.stringify(senddata))
		}
	}
	function receiveMessage(message){
		
	}
  </script>
	{include file="public/copyright"/}
</body>
</html>