.banner{width:100%}.banner image{width:100%;height:auto}.box1{width:94%;margin-left:3%;border-radius:12rpx;background:#fff;padding:60rpx 10rpx;display:flex;align-items:center;position:relative;z-index:12;margin-top:-160rpx}.box1 .item{flex:1;display:flex;flex-direction:column;align-items:center}.box1 .item .t1{font-size:48rpx;font-weight:700}.box1 .item .t2{font-size:24rpx;color:#789;margin-top:10rpx}.box2{width:94%;margin-left:3%;border-radius:12rpx;background:#fff;padding:20rpx 20rpx;display:flex;flex-direction:column;align-items:center;margin-top:20rpx}.box2 .title{width:100%;text-align:center;font-size:32rpx;color:#222;font-weight:700;height:100rpx;line-height:100rpx;margin-bottom:20rpx}