<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>系统设置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-card layui-col-md12">
				<div class="layui-card-header"><i class="fa fa-cog"></i> 系统设置</div>
				<div class="layui-card-body" pad15>
					<div class="layui-form form-label-w6" lay-filter="">
						<!-- <div class="layui-form-item">
							<label class="layui-form-label">商城标题：</label>
							<div class="layui-input-inline">
								<input type="text" name="info[name]" lay-verify="required" lay-verType="tips" class="layui-input" value="{$info['name']}">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">商城LOGO：</label>
							<input type="hidden" name="info[logo]" id="logo" class="layui-input" value="{$info['logo']}">
							<button style="float:left;" type="button" class="layui-btn layui-btn-primary" upload-input="logo" upload-preview="logoPreview" onclick="uploader(this)">上传图片</button>
							<div class="layui-form-mid layui-word-aux" style="margin-left:10px;">建议尺寸：400×400像素</div>
							<div id="logoPreview" style="float:left;padding-top:10px;margin-left:130px;clear: both;">
								<div class="layui-imgbox" style="width:100px;"><div class="layui-imgbox-img"><img src="{$info['logo']}"/></div></div>
							</div>
						</div> 
						<div class="layui-form-item">
							<label class="layui-form-label">轮播图：</label>
							<input type="hidden" name="info[pics]" value="{$info.pics}" id="pics">
							<button style="float:left;" type="button" class="layui-btn layui-btn-primary" onclick="uploader(this,true)" upload-input="pics" upload-preview="picList" >批量上传</button>
							<div class="layui-form-mid layui-word-aux" style="margin-left:10px;">建议尺寸：640×320像素</div>
							<div id="picList" style="float:left;padding-top:10px;padding-left:130px;clear: both;">
								{if $info['pics']}
								{php}$pics = explode(',',$info['pics']);{/php}
								{foreach $pics as $pic}
								<div class="layui-imgbox" style="width:100px;height:50px">
									<a class="layui-imgbox-close" href="javascript:void(0)" onclick="$(this).parent().remove();getpicsval('pics','picList')" title="删除"><i class="layui-icon layui-icon-close-fill-opaque"></i></a>
									<span class="layui-imgbox-img"><img src="{$pic}"></span>
								</div>
								{/foreach}{/if}
							</div>
						</div>-->
						<div class="layui-form-item">
							<label class="layui-form-label">自动收货天数：</label>
							<div class="layui-input-inline">
								<input type="text" name="info[autoshdays]" lay-verify="required" lay-verType="tips" class="layui-input" value="{$info.autoshdays}">
							</div>
							<div class="layui-form-mid">天</div>
							<div class="layui-form-mid layui-word-aux" style="margin-left:10px;">发货后多少天用户未确认收货自动完成收货</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">商品评价：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[comment]" value="1" {if $info['comment']==1}checked{/if} title="开启" lay-filter="comment"/>
								<input type="radio" name="info[comment]" value="0" {if $info['comment']==0}checked{/if} title="关闭" lay-filter="comment"/>
							</div>
						</div>
						<div class="layui-form-item" id="commentset" {if $info['comment']==0}style="display:none"{/if}>
							<label class="layui-form-label">评价审核：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[comment_check]" value="1" {if $info['comment_check']==1}checked{/if} title="开启" lay-filter="comment_check"/>
								<input type="radio" name="info[comment_check]" value="0" {if $info['comment_check']==0}checked{/if} title="关闭" lay-filter="comment_check"/>
							</div>
							<div class="layui-form-mid layui-word-aux" style="margin-left:10px;">关闭后用户的评价将直接显示,不需要后台审核</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">进店及咨询：</label>
							<div class="layui-input-inline">
								<input type="radio" name="info[showjd]" value="1" {if $info['showjd']==1}checked{/if} title="是"/>
								<input type="radio" name="info[showjd]" value="0" {if $info['showjd']==0}checked{/if} title="否"/>
							</div>
							<div class="layui-form-mid layui-word-aux" style="margin-left:10px;">商品详情页是否显示进店及咨询</div>
						</div>
					{if getcustom("luckycollage_robot_get")}
					<div class="layui-form-item">
						<label class="layui-form-label">机器人中奖：</label>
						<div class="layui-input-inline">
							<input type="radio" name="info[robot_get]" value="1" {if $info['robot_get']==1}checked{/if} title="是"/>
							<input type="radio" name="info[robot_get]" value="0" {if $info['robot_get']==0}checked{/if} title="否"/>
						</div>
						<div class="layui-form-mid layui-word-aux" style="margin-left:10px;">机器人是否可以中奖</div>
					</div>
					{/if}
								{if getcustom('plug_luckycollage')}
						<div class="layui-form-item">
							<label class="layui-form-label">开团场次：</label>
							<div class="layui-input-block" style="margin-left:130px;width:600px">
								<input type="checkbox" name="timeset[]" title="00:00" {if in_array('0',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="01:00" {if in_array('1',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="02:00" {if in_array('2',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="03:00" {if in_array('3',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="04:00" {if in_array('4',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="05:00" {if in_array('5',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="06:00" {if in_array('6',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="07:00" {if in_array('7',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="08:00" {if in_array('8',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="09:00" {if in_array('9',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="10:00" {if in_array('10',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="11:00" {if in_array('11',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="12:00" {if in_array('12',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="13:00" {if in_array('13',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="14:00" {if in_array('14',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="15:00" {if in_array('15',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="16:00" {if in_array('16',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="17:00" {if in_array('17',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="18:00" {if in_array('18',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="19:00" {if in_array('19',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="20:00" {if in_array('20',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="21:00" {if in_array('21',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="22:00" {if in_array('22',$timeset)}checked{/if}>
								<input type="checkbox" name="timeset[]" title="23:00" {if in_array('23',$timeset)}checked{/if}>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">开团时长：</label>
							<div class="layui-input-inline">
								<input type="text" name="info[duration]" class="layui-input" value="{$info['duration']}"/>
							</div>
							<div class="layui-form-mid">小时</div>
							<div class="layui-form-mid layui-word-aux">注：开始后多久结束</div>
						</div>

						{/if}
						<div class="layui-form-item">
							<label class="layui-form-label"></label>
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="formsubmit">提 交</button>
							</div>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
	{include file="public/js"/}
	<script>
	layui.form.on('radio(freightfree)', function(data){
		if(data.value == '1'){
			$('#freightfreemoneyset').show();
		}else{
			$('#freightfreemoneyset').hide();
		}
	})
	layui.form.on('radio(comment)', function(data){
		if(data.value == '1'){
			$('#commentset').show();
		}else{
			$('#commentset').hide();
		}
	})
	layui.form.on('submit(formsubmit)', function(obj){
		var field = obj.field
		if(field['info[logo]'] == ''){
			dialog('请上传商家LOGO',0);return;
		}
		$.post("{:url('save')}",field,function(data){
			dialog(data.msg,data.status,data.url);
		})
	})
  </script>
	{include file="public/copyright"/}
</body>
</html>