.dp-tab{height:auto;position:relative;background:hsla(0,0%,100%,0);overflow:hidden}.dsn-tab-box{display:flex;width:100%;height:90rpx;background:#fff}.dsn-tab-box.fixed{position:fixed;top:0;z-index:9}.dsn-tab-box.fixed-custom{position:fixed;top:89px;z-index:100}.dsn-tab-box-content{flex-grow:0;flex-shrink:0;display:flex;align-items:center;flex-wrap:nowrap;position:relative}.dp-tab-item{flex-grow:1;padding:0 20rpx;flex-shrink:0;font-size:28rpx;text-align:center;color:#666;height:90rpx;line-height:90rpx;overflow:hidden;position:relative}.dp-tab-item-after{position:absolute;left:50%;margin-left:-24rpx;bottom:10rpx;height:3px;border-radius:1.5px;width:48rpx}.dp-tab-content{min-height:100rpx}