<!DOCTYPE html><!--custom_file(design_cat)-->
<html>
<head>
  <meta charset="utf-8">
  <title>页面分类</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header">页面分类</div>
          <div class="layui-card-body" pad15>
						<div class="layui-col-md4" style="padding-bottom:10px">
							<a class="layui-btn layuiadmin-btn-list" href="javascript:void(0)" onclick="openmax('{:url('edit')}{$typeparam}')">添加</a>
							<button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="datadel(0,'{$type}')">删除</button>
						</div>
						<div class="layui-form layui-col-md8 layui-form-search">
							<div class="layui-inline layuiadmin-input-useradmin">
								<label class="layui-form-label">分类名称</label>
								<div class="layui-input-inline">
									<input type="text" name="name" autocomplete="off" class="layui-input" value="">
								</div>
							</div>
							
              <div class="layui-inline">
                  <label class="layui-form-label">状态</label>
                  <div class="layui-input-inline">
                      <select name="status">
                          <option value="">全部</option>
                          <option value="0">隐藏</option>
                          <option value="1">显示</option>
                      </select>
                  </div>
              </div>
							<div class="layui-inline">
								<button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
									<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
								</button>
							</div>
						</div>
						<div class="layui-col-md12">
							<table id="tabledata" lay-filter="tabledata"></table>
						</div>
          </div>
        </div>
    </div>
  </div>
	{include file="public/js"/}
	<script>
  var table = layui.table;
	var datawhere = {};
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
			{type:"checkbox"},
      {field: 'id', title: 'ID',  width:80},
      {field: 'name', title: '名称'},
      {field: 'sort', title: '序号'},
      //{field: 'createtime', title: '创建时间',templet:function(d){ return date('Y-m-d H:i',d.createtime)},width:150},
      
      {field: 'status', title: '状态',templet:function(d){ return d.status==1?'<span style="color:green">显示</span>':'<span style="color:red">隐藏</span>'}},
      {field: 'operation', title: '操作',templet:function(d){
      	var html = '<div>';
      			{if $showtype}
      		  	html += '<button class="table-btn" onclick="openmax(\'{:url('edit')}/id/'+d.id+'{$typeparam}\')">编辑</button>';
      		  {else}
      		  	html += '<button class="table-btn" onclick="openmax(\'{:url('edit')}/id/'+d.id+'&type='+d.type+'&into='+d.into+'\')">编辑</button>';
      		  {/if}
      		  html += '<button class="table-btn" onclick="datadel('+d.id+',\'{$typeparam}\')">删除</button>';
      		  html += "</div>";
      	return html;
      }}
    ]]
  });
	//排序
	table.on('sort(tabledata)', function(obj){
		datawhere.field = obj.field;
		datawhere.order = obj.type;
		tableIns.reload({
			initSort: obj,
			where: datawhere
		});
	});
	//检索
	layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
		var field = obj.field
		var olddatawhere = datawhere
		datawhere = field
		datawhere.field = olddatawhere.field
		datawhere.order = olddatawhere.order
		tableIns.reload({
			where: datawhere,
			page: {curr: 1}
		});
	})
	//删除
	function datadel(id,param=''){
		var ids = [];
		if(id==0){
			var checkStatus = table.checkStatus('tabledata')
			var checkData = checkStatus.data; //得到选中的数据
			if(checkData.length === 0){
				 return layer.msg('请选择数据');
			}
			for(var i=0;i<checkData.length;i++){
				ids.push(checkData[i]['id']);
			}
		}else{
			ids.push(id);
		}
		if(param){
			var  go_url = "{:url('del')}{$typeparam}";
		}else{
			var  go_url = "{:url('del')}";
		}
		layer.confirm('确定要删除吗？删除后无法恢复！',{icon: 7, title:'操作确认'}, function(index){
			//do something
			layer.close(index);
			var index = layer.load();
			$.post(go_url,{ids:ids},function(data){
				layer.close(index);
				dialog(data.msg,data.status);
				tableIns.reload()
			})
		});
	}
	</script>
	{include file="public/copyright"/}
</body>
</html>