<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>人员管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
  <style>
  #urlqr img{margin:0 auto}
  </style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header">人员管理</div>
          <div class="layui-card-body" pad15>
            <div class="layui-form layui-col-md8 layui-form-search">
              <div class="layui-inline layuiadmin-input-useradmin">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                  <input type="text" name="realname" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                  <select name="status">
                    <option value="">全部</option>
                    <option value="1">已开启</option>
                    <option value="0">已关闭</option>
                  </select>
                </div>
              </div>
              
              <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
                  <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
              </div>
            </div>
            <div class="layui-col-md12">
              <table id="tabledata" lay-filter="tabledata"></table>
            </div>
          </div>
        </div>
    </div>
  </div>
  {include file="public/js"/}
  <script>
  var table = layui.table;
  var datawhere = {};
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{:url('index')}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {type:"checkbox"},
      {field: 'id', title: 'ID',  sort: true,width:80},
      {field: 'un', title: "账号"},
      {field: 'headimg', title: "头像",templet:function(d){
        if(d.headimg){
          return '<img src="'+d.headimg+'" style="width:40px;height:40px"/> '
        }
        return '';
      },width:80},
      {field: 'realname', title: "姓名"},
      {field: 'tel', title: "电话"},
      {field: 'nickname', title: '绑定会员',templet:function(d){
        if(d.nickname){
          return '<img src="'+d.mheadimg+'" style="width:40px;height:40px"/> '+ d.nickname
        }
        return '';
      }},
      {field: 'pszCount', title: '服务中/已完成',templet:function(d){
        return d.pszCount + ' / ' + d.ywcCount
      }},
      {field: 'money', title: "余额",templet:function(d){
        return '<a href="javascript:void(0)" onclick="openmax(\'{:url('YuyueMoney/moneylog')}/isopen/1/uid2/'+d.id+'\')">'+d.money+'</a>';
      }},
    
      {field: 'sort', title: '创建时间',templet:function(d){ return date('Y-m-d H:i',d.createtime)}},
      {field: 'status', title: '接单状态',templet:function(d){
        if(d.status==0){
          return '<span style="color:red">已关闭</span>';
        }else if(d.status==1){
          return '<span style="color:green">已启用</span>';
        }
      }},
    {if getcustom('yuyue_apply') || getcustom('yuyue_apply_refund') }
       {field: 'shstatus', title: '审核状态',templet:function(d){
          var html='';
        if(d.shstatus==0){
          if(d.apply_paymoney>0){
            if(d.paystatus==0) html+='<div style="color:red">待支付</div>';
            if(d.paystatus==1) html+='<div style="color:green">已支付</div>';
          }
          html+='<span style="color:red">待审核</span>';
        }else if(d.shstatus==1){
          html+= '<span style="color:green">已通过</span>';
        }else if(d.shstatus==2){
          html+='<span style="color:red">已驳回</span><div>'+d.reason+'</div>';
        }
        if(d.paystatus==2) {
          html+='<div style="color:red">已退款</div>';
        }
        return html;
      }},
    {/if}
      {field: 'operation', title: '操作',templet: '<div><button class="table-btn" onclick="chooseyuyueworker(\'{{d.id}}\')">选择</button></div>',align:'center'}
    ]]
  });
  //排序
  table.on('sort(tabledata)', function(obj){
    datawhere.field = obj.field;
    datawhere.order = obj.type;
    tableIns.reload({
      initSort: obj,
      where: datawhere
    });
  });
  //检索
  layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
    var field = obj.field
    var olddatawhere = datawhere
    datawhere = field
    datawhere.field = olddatawhere.field
    datawhere.order = olddatawhere.order
    tableIns.reload({
      where: datawhere,
      page: {curr: 1}
    });
  })
  function chooseyuyueworker(id){
    var mid = "{$Request.param.mid}";
    var index = layer.load();
    $.post("{:url('getworker')}",{workerid:id},function(res){
      layer.close(index);
      if('{$Request.param.type}'=='2'){
        window.parent.chooseyuyueworker2(res,"{$Request.param.args}");
      }else{
        window.parent.chooseyuyueworker(res,"{$Request.param.args}");
      }
      var index = parent.layer.getFrameIndex(window.name);
      parent.layer.close(index);
    });
  }
  </script>
  {include file="public/copyright"/}
  <div id="NewsToolBox"></div>
</body>
</html>