<style>
	.slider .layui-slider .layui-slider-bar{background: rgb(55, 114, 232) !important;}
	.slider .layui-slider .layui-slider-wrap .layui-slider-wrap-btn{border: 2px solid #3772E8 !important;}
	.dsn-panel-editor-relative {width: auto;height: auto;position: relative;border-bottom: 1px solid #e5e5e5;}
	.dsn-panel-editor-line {overflow: hidden;background: #fff;border:none;border-radius: 3px;margin-top: 5px;padding: 0px;}
	.dsn-panel-editor-goodimg {overflow: hidden;width: 88px;height:88px;border: none;float: left;position: relative;background: #fff;cursor: pointer;border-radius:3px;}
	.dsn-panel-editor-goodimg-t2{height: 22px;width: 88px;background: rgba(0,0,0,0.5);position: absolute;left: 0px;bottom: 0px;font-size: 12px;text-align: center;line-height: 22px;color: #fff;}
	.title-div{font-size: 14px;font-weight: bold;color: #2D2D2D;width: 100%;padding: 9px 0;box-sizing: border-box;}
	.title-div .icon-div {cursor: pointer;}
	.title-div .icon-div img{width: 10px;height: 10px;}
	.img-div{width: 88px;height:88px;cursor: pointer;border-radius: 5px;overflow: hidden;}
	.editor-goodimg{height: 22px;width: 89px;background: rgba(0,0,0,0.5);position: absolute;left: 0px;bottom: 0px;font-size: 12px;text-align: center;line-height: 22px;color: #fff;
		border-radius: 0px 0px 5px 5px;}
	.dsn-panel .slider-span input{border-radius: 5px;height: 30px;line-height: 30px;}
	.dsn-panel .slider{width: 150px;}
	.layui-btn-primary:hover {border-color: #3772E8;color: #333}
</style>
<div class="dsn-panel-editor-title">餐饮菜品设置</div>
<div class="dsn-panel-editor-content">
	<div class="layui-form-item" style="margin-top: 15px;">
		<div class="layui-form-label">与上方距离</div>
		<div class="slider" min="0" max="40" ng-model="Edit.params.margin_y"></div>
		<span class="slider-span"><input ng-model="Edit.params.margin_y"/> px</span>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">样式选择</div>
		<div class="layui-input-inline">
			<input class="radio" type="radio" name="{{Edit.id}}_style" value="1" ng-model="Edit.params.style" ng-change="changeImg(Edit.id, Edit.params.style)" title="单排"/>
			<input class="radio" type="radio" name="{{Edit.id}}_style" value="2" ng-model="Edit.params.style" ng-change="changeImg(Edit.id, Edit.params.style)" title="双排"/>
			<input class="radio" type="radio" name="{{Edit.id}}_style" value="3" ng-model="Edit.params.style" ng-change="changeImg(Edit.id, Edit.params.style)" title="三排"/>
			<input class="radio" type="radio" name="{{Edit.id}}_style" value="list" ng-model="Edit.params.style" ng-change="changeImg(Edit.id, Edit.params.style)" title="横排"/>
			<input class="radio" type="radio" name="{{Edit.id}}_style" value="line" ng-model="Edit.params.style" ng-change="changeImg(Edit.id, Edit.params.style)" title="左右滑动"/>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">菜品名称</div>
		<div class="layui-input-inline">
			<input class="radio" type="radio" name="{{Edit.id}}_showname" value="1" ng-model="Edit.params.showname" title="显示"/>
			<input class="radio" type="radio" name="{{Edit.id}}_showname" value="0" ng-model="Edit.params.showname" title="不显示"/>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">菜品价格</div>
		<div class="layui-input-inline" style="padding: 3px 0px;">
			<input class="radio" type="radio" name="{{Edit.id}}_showprice" value="1" ng-model="Edit.params.showprice" title="原价+销售价"/>
			<input class="radio" type="radio" name="{{Edit.id}}_showprice" value="2" ng-model="Edit.params.showprice" title="销售价"/>
			<input class="radio" type="radio" name="{{Edit.id}}_showprice" value="0" ng-model="Edit.params.showprice" title="不显示"/>
		</div>
		<span class="layui-form-mid layui-word-aux" style="float: left;">提示：原价+销售价，原价大于销售价才会显示原价</span>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">菜品销量</div>
		<div class="layui-input-inline" style="padding: 3px 0px;">
			<input class="radio" type="radio" name="{{Edit.id}}_showsales" value="1" ng-model="Edit.params.showsales" title="显示"/>
			<input class="radio" type="radio" name="{{Edit.id}}_showsales" value="0" ng-model="Edit.params.showsales" title="不显示"/>
		</div>
		<span class="layui-form-mid layui-word-aux" style="float: left;">提示：显示销量时，销量大于0才会显示</span>
	</div>
	<!--<div class="layui-form-item" ng-show="Edit.params.showname == 1">
		<div class="layui-form-label">购买按钮</div>
		<div class="layui-input-inline" style="width:500px">
			<input class="radio" type="radio" name="{{Edit.id}}_showcart" value="0" ng-model="Edit.params.showcart" title="不显示"/>
			<input class="radio" type="radio" name="{{Edit.id}}_showcart" value="1" ng-model="Edit.params.showcart" title="显示"/>
			<input class="radio" type="radio" name="{{Edit.id}}_showcart" value="2" ng-model="Edit.params.showcart" title="自己上传"/>
		</div>
	</div>
	<div class="layui-form-item" ng-show="Edit.params.showcart==2">
		<div class="layui-form-label">购买图标</div>
		<div class="layui-input-inline">
			<input class="dsn-panel-editor-input3 hide"  value="" ng-model="Edit.params.cartimg" placeholder=""/>
		</div>
		<button class="layui-btn layui-btn-primary" ng-click="uploadImg(Edit.id,'cartimg')" style="float:left">上传图片</button>
		<img ng-show="Edit.params.cartimg!=''" ng-src="{{Edit.params.cartimg}}" style="width:30px;height:30px;margin-top:4px;margin-left:10px">
	</div>-->
	<div class="layui-form-item">
		<div class="layui-form-label">菜品属性</div>
		<div class="layui-input-inline">
			<input class="radio" type="radio" name="{{Edit.id}}_saleimg" value="" ng-model="Edit.params.saleimg" title="无"/>
			<input class="radio" type="radio" name="{{Edit.id}}_saleimg" value="{$Think.const.PRE_URL}/static/imgsrc/sale-tj.png" ng-model="Edit.params.saleimg" title="推荐"/>
			<input class="radio" type="radio" name="{{Edit.id}}_saleimg" value="{$Think.const.PRE_URL}/static/imgsrc/sale-rx.png" ng-model="Edit.params.saleimg" title="热销"/>
			<input class="radio" type="radio" name="{{Edit.id}}_saleimg" value="{$Think.const.PRE_URL}/static/imgsrc/sale-xp.png" ng-model="Edit.params.saleimg" title="新上"/>
			<input class="radio" type="radio" name="{{Edit.id}}_saleimg" value="{$Think.const.PRE_URL}/static/imgsrc/sale-xs.png" ng-model="Edit.params.saleimg" title="限时"/>
			<input class="radio" type="radio" name="{{Edit.id}}_saleimg" value="{$Think.const.PRE_URL}/static/imgsrc/sale-cx.png" ng-model="Edit.params.saleimg" title="促销"/>
		</div>
		<div class="layui-input-inline" style="float:right">
			<div class="img-div" ng-click="uploadImg(Edit.id,'saleimg')">
				<img width="100%" ng-show="Edit.params.saleimg" ng-src="{{Edit.params.saleimg}}">
				<img ng-show="!Edit.params.saleimg" src="{$Think.const.PRE_URL}/static/admin/img/uploadimg.png" style="width:88px;height:88px" />
				<div class="editor-goodimg">自己上传</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">背景颜色</div>
		<div class="layui-input-inline" style="width:180px">
			<input class="layui-input" value="{{Edit.params.bgcolor}}" ng-model="Edit.params.bgcolor"/>
		</div>
		<span class="colorpicker" coloralpha="1" ng-model="Edit.params.bgcolor"></span>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">展示类型</div>
		<div class="layui-input-inline">
			<input class="radio" type="radio" name="{{Edit.id}}_showtype" value="0" ng-model="Edit.params.showtype" title="外卖"/>
			<input class="radio" type="radio" name="{{Edit.id}}_showtype" value="1" ng-model="Edit.params.showtype" title="店内"/>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">菜品来源</div>
		<div class="layui-input-inline">
			{if !$type}
			<input class="radio" type="radio" name="{{Edit.id}}_productfrom" value="0" ng-model="Edit.params.productfrom" title="手动选择"/>
			{/if}
			<input class="radio" type="radio" name="{{Edit.id}}_productfrom" value="1" ng-model="Edit.params.productfrom" title="分组分类"/>
		</div>
	</div>
	<div ng-show="Edit.params.productfrom == '0'">
		<div class="title-div flex-box">
			<div>菜品设置</div>
			<!-- <div class="icon-div"><img src="{$Think.const.PRE_URL}/static/admin/img/diyadd.png"  /></div> -->
		</div>
		<div ng-repeat="good in Edit.data" class="dsn-panel-editor-relative">
			<div class="dsn-panel-editor-del" style="right:30px;font-size:12px" title="上移" ng-click="upItemChild(Edit.id,good.id)"><i class="fa fa-arrow-up"></i></div>
			<div class="dsn-panel-editor-del" title="移除" style="top:6px" ng-click="delRestaurantGood(Edit.id,good.id)">×</div>
			<div class="dsn-panel-editor-line flex">
				<div class="dsn-panel-editor-goodimg flex0" ng-click="addRestaurantGood('replace',Edit.id, good.id)">
					<img ng-src="{{good.pic}}" width="100%"/>
					<div class="dsn-panel-editor-goodimg-t2">重新选择菜品</div>
				</div>
				<div class="dsn-panel-editor-line-right">
					<div class="layui-form-item">
						<div class="layui-form-label">菜品名称</div>
						<div class="layui-form-mid">{{good.name}}</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-form-label">菜品价格</div>
						<div class="layui-form-mid"><span style="font-size: 16px;">￥{{good.sell_price}}</span> <span style="text-decoration: line-through;">￥{{good.market_price}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="Edit.params.productfrom == '1'">
		{if !$categroy_selmore }
		{if $bid==0}
		<div class="layui-form-item">
			<div class="layui-form-label">所属商家</div>
			<div class="layui-input-inline">
				<select class="layui-input" style="width:200px;-webkit-appearance:menulist" lay-ignore ng-model="Edit.params.bid" ng-change="getRestaurantGoods(Edit.id)">
					<option value="0">自营</option>
					<option value="">全部</option>
					{if !$type}
						{foreach $bnlist as $bv}
							<option value="{$bv['id']}">{$bv['name']}</option>
						{/foreach}
					{/if}
				</select>
			</div>
		</div>
		{/if}
<!--		<div class="layui-form-item">-->
<!--			<div class="layui-form-label">菜品分类</div>-->
<!--			<div class="layui-input-inline">-->
<!--				<select class="layui-input" style="width:200px;-webkit-appearance:menulist" lay-ignore ng-model="Edit.params.category" ng-change="getRestaurantGoods(Edit.id)">-->
<!--					<option value="">全部分类</option>-->
<!--					{foreach $clist as $cv}-->
<!--						<option value="{$cv['id']}">{$cv['name']}</option>-->
<!--						{foreach $cv['child'] as $v}-->
<!--						<option value="{$v['id']}">&nbsp;&nbsp;&nbsp;{$v['name']}</option>-->
<!--						{/foreach}-->
<!--					{/foreach}-->
<!--				</select>-->
<!--			</div>-->
<!--		</div>-->
		{else}
		{if $bid==0}
		<div class="layui-form-item">
			<div class="layui-form-label" style="width:180px">分类模式(默认单选模式)</div>
			<div class="layui-input-inline">
				<input class="radio" type="radio" name="{{Edit.id}}_categoryseltype" value="0" ng-model="Edit.params.categoryseltype" ng-checked="!Edit.params.categoryseltype || Edit.params.categoryseltype == '0'" ng-change="getRestaurantGoods(Edit.id)" title="单选模式"/>
				<input class="radio" type="radio" name="{{Edit.id}}_categoryseltype" value="1" ng-model="Edit.params.categoryseltype" ng-checked="Edit.params.categoryseltype && Edit.params.categoryseltype == '1'" ng-change="getRestaurantGoods(Edit.id)" title="多选模式"/>
			</div>
		</div>
		<div ng-show="!Edit.params.categoryseltype || Edit.params.categoryseltype != '1'" class="layui-form-item">
			<div class="layui-form-label">所属商家</div>
			<div class="layui-input-inline">
				<select class="layui-input" style="width:200px;-webkit-appearance:menulist" lay-ignore ng-model="Edit.params.bid" ng-change="getRestaurantGoods(Edit.id)">
					<option value="0">自营</option>
					<option value="">全部</option>
					{if !$type}
						{foreach $bnlist as $bv}
							<option value="{$bv['id']}">{$bv['name']}</option>
						{/foreach}
					{/if}
				</select>
			</div>
		</div>
		<div ng-show="Edit.params.categoryseltype && Edit.params.categoryseltype == '1'" class="layui-form-item">
			<div class="layui-form-label">所属商家</div>
			<div class="layui-input-inline">
				<input class="checkbox" type="checkbox" lay-skin="primary" value="-1" title="全部" ng-model="Edit.params.bidmore[-1]" ng-change="getRestaurantGoods(Edit.id)"/>
				<input class="checkbox" type="checkbox" lay-skin="primary" value="0" title="自营" ng-model="Edit.params.bidmore[0]" ng-change="getRestaurantGoods(Edit.id)"/>
				{if !$type}
				{foreach $bnlist as $bv}
					<input class="checkbox" type="checkbox" lay-skin="primary" value="{$bv['id']}" title="{$bv['name']}" ng-model="Edit.params.bidmore[{$bv['id']}]" ng-change="getRestaurantGoods(Edit.id)"/>
				{/foreach}
				{/if}
			</div>
		</div>
		{/if}
		{/if}
		<div class="layui-form-item">
			<div class="layui-form-label">排序方式</div>
			<div class="layui-input-inline">
				<input class="radio" type="radio" name="{{Edit.id}}_sortby" value="sort" ng-model="Edit.params.sortby" ng-change="getRestaurantGoods(Edit.id)" title="默认"/>
				<input class="radio" type="radio" name="{{Edit.id}}_sortby" value="createtimedesc" ng-model="Edit.params.sortby" ng-change="getRestaurantGoods(Edit.id)" title="创建时间↓"/></i>
				<input class="radio" type="radio" name="{{Edit.id}}_sortby" value="createtime" ng-model="Edit.params.sortby" ng-change="getRestaurantGoods(Edit.id)" title="创建时间↑"/></i>
				<input class="radio" type="radio" name="{{Edit.id}}_sortby" value="sales" ng-model="Edit.params.sortby" ng-change="getRestaurantGoods(Edit.id)" title="销量"/>
				<input class="radio" type="radio" name="{{Edit.id}}_sortby" value="rand" ng-model="Edit.params.sortby" ng-change="getRestaurantGoods(Edit.id)" title="随机"/>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-form-label">显示数量</div>
			<div class="layui-input-inline">
				<input class="layui-input" ng-model="Edit.params.proshownum" ng-blur="getRestaurantGoods(Edit.id)"/>
			</div>
		</div>
	</div>
	<div ng-show="Edit.params.productfrom == '0'" class="layui-btn layui-btn-primary" style="display: block;margin-top: 5px;border-radius:5px ;" ng-click="addRestaurantGood('',Edit.id,'')">添加</div>
	<hr>
	<div class="layui-form-item">
		<div class="layui-form-label">左右边距</div>
		<div class="slider" min="0" max="40" ng-model="Edit.params.margin_x"></div>
		<span class="slider-span"><input ng-model="Edit.params.margin_x"/> px</span>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">左右内边距</div>
		<div class="slider" min="0" max="40" ng-model="Edit.params.padding_x"></div>
		<span class="slider-span"><input ng-model="Edit.params.padding_x"/> px</span>
	</div>
	<div class="layui-form-item">
		<div class="layui-form-label">上下内边距</div>
		<div class="slider" min="0" max="40" ng-model="Edit.params.padding_y"></div>
		<span class="slider-span"><input ng-model="Edit.params.padding_y"/> px</span>
	</div>
	{if !$type}
	{if !$noshow_modules || !in_array('ModulePlatform',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示平台</div>
		<div class="layui-input-inline" style="border-radius: 0;padding: 2px;">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
			{foreach $platform as $pl}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{:getplatformname($pl)}" name="{{Edit.id}}_platform['{$pl}']" ng-model="Edit.params.platform['{$pl}']"/>
			{/foreach}
		</div>
	</div>
	{/if}
	{if !$noshow_modules || !in_array('ModuleQuanxian',$noshow_modules)}
	<div class="layui-form-item">
		<div class="layui-form-label">显示范围</div>
		<div class="layui-input-inline" style="border-radius: 0;padding: 2px;">
			<input class="checkbox" type="checkbox" lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
			{foreach $memberlevelList as $lv}
			<input class="checkbox" type="checkbox" lay-skin="primary" title="{$lv.name}" name="{{Edit.id}}_quanxian[{$lv.id}]" ng-model="Edit.params.quanxian[{$lv.id}]"/>
			{/foreach}
		</div>
	</div>
	{/if}
	{include file="designer_page/tempnew/edit-plugin-mendian" /}
	<div class="layui-form-item" ng-show="!Edit.params.quanxian['all']">
    <div class="layui-form-label">显示用户</div>
    <div class="layui-input-inline" style="border-radius: 0;padding: 2px;">
			<input class="layui-input" ng-model="Edit.params.showmids"/>
    </div>
		<div class="layui-form-mid layui-word-aux">填写用户ID，多个用英文标点逗号(,)分割
	</div>
	{else}
	<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有平台" name="{{Edit.id}}_platform['all']" ng-model="Edit.params.platform['all']"/>
	<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有人" name="{{Edit.id}}_quanxian['all']" ng-model="Edit.params.quanxian['all']"/>
	<input class="checkbox" type="hidden" checked='true' lay-skin="primary" title="所有门店" name="{{Edit.id}}_mendian['all']" ng-model="Edit.params.mendian['all']"/>
	{/if}
</div>