<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>模板消息发送记录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header">
						模板消息发送记录
						{if input('param.isopen')==1}<i class="layui-icon layui-icon-close" style="font-size:18px;font-weight:bold;cursor:pointer" onclick="closeself()"></i>{/if}
					</div>
          <div class="layui-card-body" pad15>
						<div class="layui-form layui-col-md8" style="text-align:right;padding-bottom:10px">
							
						</div>
						<div class="layui-col-md12">
							<table id="tabledata" lay-filter="tabledata"></table>
						</div>
          </div>
        </div>
    </div>
  </div>
	{include file="public/js"/}
	<script>
  var table = layui.table;
	var datawhere = {};
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      //{field: 'template_id', title: '模板ID',width:300},
      {field: 'title', title: '模板名称',width:200},
      {field: 'data', title: '发送内容',templet:function(d){
				var html = '';
				var contentdata = d.data
				for(var i in contentdata){
					var m = contentdata[i];
					html += '<div>'+(m.title?m.title:'')+'<span style="color:'+m.color+';white-space:pre-wrap;">'+m.value+'</span></div>';
				}
				return html;
      }},
      {field: 'url', title: '链接地址',width:200},
      {field: 'to_type', title: '发送对象',width:120,templet:function(d){
				if(d.to_type==1){
					return '按openid发送';
				}if(d.to_type==2){
					return '标签: '+d.tagname;
				}if(d.to_type==3){
					return '全部用户';
				}
      }},
      {field: 'createtime', title: '发送时间/完成时间',width:150,templet:function(d){
				return date('Y-m-d H:i:s',d.createtime) + '<br>' + date('Y-m-d H:i:s',d.endtime);
      }},
      {field: 'sendcount', title: '发送数',width:70},
      {field: 'successcount', title: '成功数',width:70},
      {field: 'errorcount', title: '失败数',width:70},
      {field: 'operation', title: '操作',templet: '<div><button class="table-btn" onclick="openmax(\'{:url('tmplsendlog_errlog')}/logid/{{d.id}}/isopen/1\')">失败记录</button><button class="table-btn" onclick="datadel(\'{{d.id}}\')">删除</button></div>',width:140}
    ]]
  });
	//排序
	table.on('sort(tabledata)', function(obj){
		datawhere.field = obj.field;
		datawhere.order = obj.type;
		tableIns.reload({
			initSort: obj,
			where: datawhere
		});
	});
	//检索
	layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
		var field = obj.field
		var olddatawhere = datawhere
		datawhere = field
		datawhere.field = olddatawhere.field
		datawhere.order = olddatawhere.order
		tableIns.reload({
			where: datawhere,
			page: {curr: 1}
		});
	})
	//删除
	function datadel(id){
		var ids = [];
		if(id==0){
			var checkStatus = table.checkStatus('tabledata')
			var checkData = checkStatus.data; //得到选中的数据
			if(checkData.length === 0){
				 return layer.msg('请选择数据');
			}
			for(var i=0;i<checkData.length;i++){
				ids.push(checkData[i]['id']);
			}
		}else{
			ids.push(id);
		}
		layer.confirm('确定要删除吗？删除后无法恢复！',{icon: 7, title:'操作确认'}, function(index){
			//do something
			layer.close(index);
			var index = layer.load();
			$.post("{:url('tmplsendlogdel')}",{ids:ids},function(data){
				layer.close(index);
				dialog(data.msg,data.status);
				tableIns.reload()
			})
		});
	}
	//同步
	function tongbu(){
		var index = layer.load();
		$.post("{:url('tbtag')}",{ },function(data){
			layer.close(index);
			dialog(data.msg,data.status);
			tableIns.reload();
		})

	}
	</script>
	{include file="public/copyright"/}
</body>
</html>