.dp-search{padding:20rpx;height:auto;position:relative}.dp-search-search{height:72rpx;background:#fff;border:1px solid silver;border-radius:6rpx;overflow:hidden;display:flex}.dp-search-search-f1{height:72rpx;width:72rpx;color:#666;border:0;padding:0;margin:0;background-size:30rpx;background-position:50%;background-repeat:no-repeat}.dp-search-search-f2{height:72rpx;flex:1}.dp-search-search-f3{height:72rpx;width:72rpx;color:#666;border:0;padding:0;margin:0;background-position:50%;background-repeat:no-repeat;background-size:40rpx}.dp-search-search-input{height:72rpx;width:100%;border:0;padding:0;margin:0;outline:none;color:#666}.dp-search .hui{color:#aaa}